<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DB_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,399},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Main_Btn_Change.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,683},{51,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,35}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>Main_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,840},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Main_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,754},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Main_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,873},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Main_Icon_Hourglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,754},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Main_Icon_ZhanLin.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,597},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>Main_UIBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{85,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,128}}</string>
                <key>sourceSize</key>
                <string>{85,128}</string>
            </dict>
            <key>Top_BG_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,294}}</string>
                <key>sourceSize</key>
                <string>{750,294}</string>
            </dict>
            <key>Top_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,202},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>Top_Bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,196},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>Top_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,683},{339,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,47}}</string>
                <key>sourceSize</key>
                <string>{339,47}</string>
            </dict>
            <key>Top_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,754},{139,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,39}}</string>
                <key>sourceSize</key>
                <string>{139,39}</string>
            </dict>
            <key>Top_Btn_Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,720},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>Top_Btn_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,816},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>Top_Btn_Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,857},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>Top_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,840},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Top_Head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,895},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>Top_Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,303},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Top_Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,982},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Top_Icon_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,898},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>Top_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,982},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Top_icon_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,982},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>Top_icon_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,963},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Top_icon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,931},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>Under_BtnBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,163}}</string>
                <key>sourceSize</key>
                <string>{750,163}</string>
            </dict>
            <key>Under_BtnBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{153,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,127}}</string>
                <key>sourceSize</key>
                <string>{153,127}</string>
            </dict>
            <key>Under_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,506},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>Under_Icon_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,831},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>Under_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>Under_Icon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,840},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>Under_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,399},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>Under_Icon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,919},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>Under_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,196},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>Under_Icon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,926},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>Under_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,100},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>Under_Icon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,754},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>Under_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,926},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,77}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>Under_Icon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,754},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,77}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>Under_Icon_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,756},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>ZJM_icon_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,840},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>ZJM_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,756},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>top_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29ce1e9eaa0b1a494167f3e79e50bfa$</string>
            <key>textureFileName</key>
            <string>top_ui.png</string>
        </dict>
    </dict>
</plist>
