<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_VictoryStart_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,198},{80,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,140},{80,56}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,358},{106,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,127},{106,82}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,358},{132,110}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,112},{132,110}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,198},{158,158}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,90},{158,158}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{194,210}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,64},{194,210}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{230,248}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,45},{230,248}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,834},{244,260}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,40},{244,260}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{266,260}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,40},{266,260}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,578},{300,258}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,578},{334,254}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{334,254}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{368,254}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{368,254}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,302},{400,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{400,274}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{400,298}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryStart_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{400,320}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_win_start.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe46564d7a1a19ffa23ed9fd69981b77:1/1$</string>
            <key>textureFileName</key>
            <string>ui_win_start.png</string>
        </dict>
    </dict>
</plist>
