<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Exclusive_Bg_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Exclusive_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Exclusive_Icon_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>Exclusive_Info_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,258},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Exclusive_Info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,218},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Exclusive_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1525},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Exclusive_Skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1435},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Exclusive_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1432},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Exclusive_Skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1339},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Exclusive_Skill_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1339},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Exclusive_Stone_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,46},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>Exclusive_Stone_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1339},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>Exclusive_Stone_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1153},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>Exclusive_Stone_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1153},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>Exclusive_Weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,289},{273,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,303}}</string>
                <key>sourceSize</key>
                <string>{273,303}</string>
            </dict>
            <key>Exclusive_Weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{303,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,285}}</string>
                <key>sourceSize</key>
                <string>{303,285}</string>
            </dict>
            <key>Exclusive_Weapon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,564},{294,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,301}}</string>
                <key>sourceSize</key>
                <string>{294,301}</string>
            </dict>
            <key>Exclusive_Weapon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,860},{294,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,291}}</string>
                <key>sourceSize</key>
                <string>{294,291}</string>
            </dict>
            <key>Exclusive_Weapon_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exclusive_weapons_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f543fd94b8c7c3486a5b31839a2857c3:1/1$</string>
            <key>textureFileName</key>
            <string>exclusive_weapons_ui.png</string>
        </dict>
    </dict>
</plist>
