<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss11_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,435},{54,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,84},{54,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,534},{110,82}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{110,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,420},{142,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{142,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{160,140}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{160,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,350},{178,162}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{192,172}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{192,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{194,170}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{194,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,180},{190,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{190,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,202},{186,156}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{186,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,344},{182,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{182,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss11_Attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,360},{94,114}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{94,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,476},{92,114}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{92,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,452},{80,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{80,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,514},{82,116}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{82,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{80,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{80,120}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,514},{84,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{84,126}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,502},{90,128}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{90,128}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,360},{90,118}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{90,118}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss11_Skill2Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,502},{86,86}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{86,86}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,600},{122,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{122,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{168,154}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{168,154}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{200,170}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{200,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{208,168}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{208,168}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,174}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{210,174}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,178}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{212,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{198,172}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{198,172}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{206,176}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{206,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss11_Skill2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,538},{80,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>Boss11_Skill2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,350},{56,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>Boss6_SkillTail.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,350},{68,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,148}}</string>
                <key>sourceSize</key>
                <string>{72,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5eadcce8c5c5c6994e3b9a3c7fa2721:1/1$</string>
            <key>textureFileName</key>
            <string>boss6.png</string>
        </dict>
    </dict>
</plist>
