<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_VictoryLoop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{400,342}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,322},{400,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{400,294}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{388,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{388,328}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{400,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{400,318}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,664},{390,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{390,254}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1240},{294,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,37},{294,276}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1244},{328,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{328,306}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1564},{362,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{362,334}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,616},{390,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{390,342}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{392,270}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{392,270}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,316},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{400,328}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{394,278}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{394,278}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{400,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{400,312}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{400,344}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{372,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{372,332}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,960},{278,266}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,41},{278,266}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1244},{312,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{312,290}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1558},{344,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{344,320}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,920},{376,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{376,322}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1552},{326,244}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{326,244}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{370,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{370,252}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,332},{400,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{400,282}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>FX_VictoryLoop_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,346},{394,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{394,316}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_win_loop.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9991bb1a0cc6d878fd36b840994cf4c7:1/1$</string>
            <key>textureFileName</key>
            <string>ui_win_loop.png</string>
        </dict>
    </dict>
</plist>
