<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_Wall_LvUp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1318},{268,162}}</string>
                <key>offset</key>
                <string>{-6,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,246},{268,162}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,404},{362,284}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,126},{362,284}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,698},{366,382}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,33},{366,382}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,384},{366,384}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,28},{366,384}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,320}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,93},{438,320}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,354},{426,342}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,69},{426,342}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{426,350}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{426,350}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{426,360}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{426,360}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{426,368}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{426,368}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{426,380}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{426,380}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,364},{388,382}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{388,382}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>FX_Wall_LvUp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{366,382}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,33},{366,382}}</string>
                <key>sourceSize</key>
                <string>{524,422}</string>
            </dict>
            <key>TX_JinSheng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,404},{34,70}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,278},{34,70}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1794},{146,70}}</string>
                <key>offset</key>
                <string>{6,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,278},{146,70}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1646},{146,74}}</string>
                <key>offset</key>
                <string>{6,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,274},{146,74}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1294},{160,74}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,274},{160,74}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1318},{172,154}}</string>
                <key>offset</key>
                <string>{-7,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,224},{172,154}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1646},{210,262}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,114},{210,262}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1026},{266,382}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{266,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,752},{272,382}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{272,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1100},{270,380}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{270,380}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1066},{272,380}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{272,380}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{272,352}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{272,352}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1228},{274,96}}</string>
                <key>offset</key>
                <string>{-1,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,255},{274,96}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1372},{272,352}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{272,352}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,748},{272,382}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{272,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{286,400}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,826},{272,382}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{272,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1022},{270,382}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{270,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{254,382}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{254,382}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1340},{172,370}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{172,370}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1646},{152,348}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{152,348}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_JinSheng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{138,176}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,172},{138,176}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>TX_ShengJi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,698},{126,78}}</string>
                <key>offset</key>
                <string>{13,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,212},{126,78}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1294},{118,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{118,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1912},{122,230}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,65},{122,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{140,244}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{140,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1504},{138,244}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,55},{138,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1514},{120,248}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,51},{120,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1646},{146,260}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,42},{146,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1646},{146,264}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,39},{146,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1646},{142,264}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,37},{142,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1504},{138,264}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{138,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1912},{134,246}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{134,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1646},{146,256}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,45},{146,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,364},{36,108}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,112},{36,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{30,108}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,112},{30,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,112},{24,108}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,112},{24,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_ShengJi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,222},{24,94}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,113},{24,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>TX_Zhuangbei_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,384},{108,42}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,80},{108,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1514},{110,70}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,54},{110,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1414},{116,88}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{116,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1536},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1646},{116,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{116,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1514},{118,114}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{118,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1908},{120,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1294},{120,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1414},{120,120}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1910},{120,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1370},{120,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1370},{120,120}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1514},{116,120}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1904},{114,118}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1022},{104,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1136},{90,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{90,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:754dab93124b579af1ed3617240dc6ee:1/1$</string>
            <key>textureFileName</key>
            <string>shengji.png</string>
        </dict>
    </dict>
</plist>
