<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss8_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,332},{104,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{104,70}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1173},{162,128}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{162,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,914},{166,130}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{166,130}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,794},{228,204}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{228,204}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,412},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,332},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,198},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,564},{228,230}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{228,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,180},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,430},{224,230}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,644},{228,222}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{228,222}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,868},{216,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{216,126}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,994},{216,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{216,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,872},{216,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{216,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1000},{216,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{216,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_AttackHit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1140},{158,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,52},{158,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>Boss8_Buff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,144},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>Boss8_Buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,92},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>Boss8_Skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{137,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,194}}</string>
                <key>sourceSize</key>
                <string>{137,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,807},{98,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{98,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,901},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{96,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,995},{94,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{94,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1089},{92,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{92,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,838},{90,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,68},{90,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{88,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,78},{88,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,196},{84,54}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,87},{84,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1556},{124,126}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{124,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,404},{108,102}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{108,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1386},{170,168}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{170,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1216},{170,168}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{170,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1216},{180,178}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,914},{186,184}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{186,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,838},{186,184}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{186,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,652},{190,184}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,466},{190,184}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,728},{192,184}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{192,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,542},{192,184}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{192,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1122},{194,184}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{194,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,996},{196,184}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,372},{194,168}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1308},{194,168}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1100},{184,114}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{184,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1024},{184,114}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{184,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,914},{136,114}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,51},{136,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,914},{136,112}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{136,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1556},{112,114}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,51},{112,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2Hit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,514},{102,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,51},{102,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss8_Skill2_Dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,725},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Boss8_SkillHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,656},{214,218}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{214,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{240,190}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,79},{240,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{292,288}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{292,288}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1404},{342,306}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{342,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{346,344}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,344}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{344,346}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{344,346}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1058},{334,344}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{334,344}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{334,328}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{334,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{336,328}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{336,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1404},{342,328}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{342,328}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1748},{340,296}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{340,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1748},{336,296}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{336,296}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,338},{324,178}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,82},{324,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{318,176}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,82},{318,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Boss8_SkillHit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,194},{234,176}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,82},{234,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>XueQiuAttack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,610},{113,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{113,101}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>XueQiuSkill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1754},{272,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{272,276}}</string>
                <key>sourceSize</key>
                <string>{280,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5849f4d8e7f0eec403e62363c1f8ef95:1/1$</string>
            <key>textureFileName</key>
            <string>boss3.png</string>
        </dict>
    </dict>
</plist>
