<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Task_Achieved.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,168},{129,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,75}}</string>
                <key>sourceSize</key>
                <string>{129,75}</string>
            </dict>
            <key>Task_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,402},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>Task_Bar_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{257,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,23}}</string>
                <key>sourceSize</key>
                <string>{257,23}</string>
            </dict>
            <key>Task_Bar_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,48},{251,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,19}}</string>
                <key>sourceSize</key>
                <string>{251,19}</string>
            </dict>
            <key>Task_Bar_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,27},{251,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,19}}</string>
                <key>sourceSize</key>
                <string>{251,19}</string>
            </dict>
            <key>Task_Bar_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,352},{459,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,29}}</string>
                <key>sourceSize</key>
                <string>{459,29}</string>
            </dict>
            <key>Task_Bar_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,403},{430,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,25}}</string>
                <key>sourceSize</key>
                <string>{430,25}</string>
            </dict>
            <key>Task_Bar_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,317},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>Task_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>Task_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,245},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Task_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,69},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>Task_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,69},{154,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,97}}</string>
                <key>sourceSize</key>
                <string>{154,97}</string>
            </dict>
            <key>Task_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,402},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Task_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,363},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Task_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1338},{641,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,139}}</string>
                <key>sourceSize</key>
                <string>{641,139}</string>
            </dict>
            <key>Task_Bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{641,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,139}}</string>
                <key>sourceSize</key>
                <string>{641,139}</string>
            </dict>
            <key>Task_Bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,438},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Task_Bg_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1981},{332,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,64}}</string>
                <key>sourceSize</key>
                <string>{332,64}</string>
            </dict>
            <key>Task_Btn_Integral.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,352},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Task_Checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,363},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>Task_Chest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,317},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>Task_Chest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,311},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>Task_Chest_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,225},{116,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,125}}</string>
                <key>sourceSize</key>
                <string>{116,125}</string>
            </dict>
            <key>Task_Icon_Integral_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,245},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>Task_Icon_Integral_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,591},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>Task_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,168},{462,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,18}}</string>
                <key>sourceSize</key>
                <string>{462,18}</string>
            </dict>
            <key>Task_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,515},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afa4cf0bed8f5f3b2c73ec62451a361e:1/1$</string>
            <key>textureFileName</key>
            <string>task_ui.png</string>
        </dict>
    </dict>
</plist>
