<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TY_logo_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,154}}</string>
                <key>sourceSize</key>
                <string>{496,154}</string>
            </dict>
            <key>TY_logo_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{391,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,179}}</string>
                <key>sourceSize</key>
                <string>{391,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>language_sprite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c81ae4130212e89bb88c28a94aa0c5d2:1/1$</string>
            <key>textureFileName</key>
            <string>language_sprite.png</string>
        </dict>
    </dict>
</plist>
