<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Druid_Passive1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1254},{104,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{104,109}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,422},{134,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,284},{136,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{136,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{140,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,144},{138,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,131}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,558},{118,121}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{118,121}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1282},{96,77}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{96,77}}</string>
                <key>sourceSize</key>
                <string>{150,131}</string>
            </dict>
            <key>Druid_Passive2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,674},{56,46}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{56,46}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,974},{62,50}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{62,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,902},{70,54}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{70,54}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,596},{76,56}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{76,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1408},{80,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{80,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1530},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1466},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1434},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1326},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1254},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1038},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_Passive2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1038},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>Druid_PassiveBao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1148},{114,120}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,42},{114,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1006},{144,144}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{144,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1084},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{170,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{164,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{164,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,974},{172,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,640},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{190,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{190,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,712},{194,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{194,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,596},{196,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,902},{180,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{178,178}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{178,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,906},{178,176}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{178,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,826},{180,178}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,794},{180,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Druid_PassiveBao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,722},{182,178}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Witch_ActiveSkill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,122},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,122},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,478},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,478},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,478},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,122},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,360},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,360},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,360},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,596},{220,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,242},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,242},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,242},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{220,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,714},{33,26}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{33,26}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,974},{89,64}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{89,64}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1460},{89,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,68}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1362},{91,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1356},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1090},{95,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{93,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1286},{93,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1398},{91,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{91,66}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1065},{87,64}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{87,64}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,906},{49,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_ActiveSkill_Hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,906},{49,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>Witch_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1530},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Witch_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,596},{42,186}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{42,186}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Witch_Attack_Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,826},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{46,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,826},{46,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{46,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1358},{68,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{68,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1428},{82,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1356},{88,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1285},{94,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1360},{98,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1254},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1184},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1154},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1152},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1082},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1082},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1256},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1264},{100,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1187},{96,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1184},{98,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Witch_Attack_Hit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,712},{16,14}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{16,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wu_nv.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ecd0d6e2ded97d98eb45d7aaff5310e:1/1$</string>
            <key>textureFileName</key>
            <string>wu_nv.png</string>
        </dict>
    </dict>
</plist>
