<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_Range_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Skill_Range_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Skill_Range_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,369},{125,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,400}}</string>
                <key>sourceSize</key>
                <string>{125,400}</string>
            </dict>
            <key>Skill_Range_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,242},{125,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,400}}</string>
                <key>sourceSize</key>
                <string>{125,400}</string>
            </dict>
            <key>Skill_Range_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,122},{473,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,118}}</string>
                <key>sourceSize</key>
                <string>{473,118}</string>
            </dict>
            <key>Skill_Range_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{473,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,118}}</string>
                <key>sourceSize</key>
                <string>{473,118}</string>
            </dict>
            <key>Skill_Range_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,496},{127,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,170}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
            <key>Skill_Range_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,496},{127,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,170}}</string>
                <key>sourceSize</key>
                <string>{127,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tip.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31d1a1b39485d5c5a70efb88ba15c6b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_tip.png</string>
        </dict>
    </dict>
</plist>
