<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NvWu_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,800},{86,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{86,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1112},{108,106}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{108,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{130,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{130,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{134,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{134,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,972},{138,134}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{138,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1096},{138,136}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,972},{142,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{142,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,950},{146,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{146,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,800},{148,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>NvWu_Attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,840},{38,126}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,126}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1052},{36,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1052},{36,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,968},{36,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,920},{38,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,788},{38,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,130}}</string>
                <key>sourceSize</key>
                <string>{60,130}</string>
            </dict>
            <key>NvWu_Passive2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1002},{118,122}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{118,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,840},{160,160}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{160,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,604},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{194,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Passive2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,954},{156,156}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,788},{170,164}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{170,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,798},{176,172}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{176,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,658},{188,180}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{188,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{192,190}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{192,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,602},{196,194}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{196,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,588},{198,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,406},{200,192}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,406},{200,194}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,406},{200,180}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>NvWu_Skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,600},{198,56}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,113},{198,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nv_wu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fee53d5d00afecc3fec4f9162669575:1/1$</string>
            <key>textureFileName</key>
            <string>nv_wu.png</string>
        </dict>
    </dict>
</plist>
