<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CB_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,312},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>CB_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{536,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,42}}</string>
                <key>sourceSize</key>
                <string>{536,42}</string>
            </dict>
            <key>CB_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,312},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>HC_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,461},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HC_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,110},{40,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,2}}</string>
                <key>sourceSize</key>
                <string>{40,2}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,719},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,676},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,626},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,574},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Talent_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{128,147}</string>
            </dict>
            <key>Talent_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,204},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>Talent_Fx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,690},{64,69}}</string>
                <key>offset</key>
                <string>{-21,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Fx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{88,97}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Fx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{106,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Fx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,110},{92,99}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{92,99}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Fx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,408},{70,81}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{70,81}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Fx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>Talent_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,364},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>Talent_Icon_Skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,423},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>Talent_Icon_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>Talent_Icon_Skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,480},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>Talent_Icon_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,498},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Talent_Icon_Skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,542},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>Talent_Icon_Skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,617},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Talent_Icon_Skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,647},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Talent_Icon_Skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,574},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talent_ui.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3614b8cc9c4ebdd73f4530030d5e6d:1/1$</string>
            <key>textureFileName</key>
            <string>talent_ui.png</string>
        </dict>
    </dict>
</plist>
