<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,862},{212,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,350}}</string>
                <key>sourceSize</key>
                <string>{212,350}</string>
            </dict>
            <key>Card_Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,647},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>CommonSpirit_BackLight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,402},{158,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{158,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>CommonSpirit_BackLight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,242},{158,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{158,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>CommonSpirit_BackLight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,82},{158,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{158,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>Sprite_Avatar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,999},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,647},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,432},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,432},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1618},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1802},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1587},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1372},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1266},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1157},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,942},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,914},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,727},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,562},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,512},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,297},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,82},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Wish_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,371},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>Wish_Bar_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,665},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>Wish_Bar_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,665},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>Wish_Bg_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Wish_Bg_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Wish_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{640,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,78}}</string>
                <key>sourceSize</key>
                <string>{640,78}</string>
            </dict>
            <key>Wish_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,405},{190,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,42}}</string>
                <key>sourceSize</key>
                <string>{190,42}</string>
            </dict>
            <key>Wish_Btn_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,927},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Wish_Btn_Integral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,859},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Wish_Btn_Tab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,753},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Wish_Btn_Tab_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,841},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Wish_Btn_Tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,647},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>Wish_Btn_Tab_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,753},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>Wish_Btn_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,597},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Wish_Quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,256},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>Wish_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,198},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>Wish_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,140},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>Wish_Quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,82},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>Wish_Quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,314},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishing_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acf6a10b0bf1933bbdbdb6b1c87cec0:1/1$</string>
            <key>textureFileName</key>
            <string>wishing_ui.png</string>
        </dict>
    </dict>
</plist>
