<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SPSpirit_DrawCardFX_Red4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,178},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,170},{6,6}}</string>
                <key>offset</key>
                <string>{73,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,204},{6,6}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,474},{18,18}}</string>
                <key>offset</key>
                <string>{73,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,198},{18,18}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,452},{36,36}}</string>
                <key>offset</key>
                <string>{73,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{36,36}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{162,60}}</string>
                <key>offset</key>
                <string>{20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,180},{162,60}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,162},{178,76}}</string>
                <key>offset</key>
                <string>{22,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,170},{178,76}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,588},{194,94}}</string>
                <key>offset</key>
                <string>{23,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,160},{194,94}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1124},{210,210}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{210,210}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,904},{220,226}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,49},{220,226}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{230,242}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{230,242}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{230,260}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{230,260}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{228,272}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{228,272}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,278}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{234,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{230,278}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{230,278}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,232},{220,272}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{220,272}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,234},{216,264}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{216,264}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,676},{222,254}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{222,254}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,898},{224,246}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{224,246}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,900},{222,246}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{222,246}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{218,254}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,254}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{212,256}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{212,256}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,452},{222,256}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{222,256}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,454},{224,254}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,29},{224,254}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,680},{222,252}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,38},{222,252}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,684},{212,248}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{212,248}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,240},{200,174}}</string>
                <key>offset</key>
                <string>{12,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,116},{200,174}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{186,158}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,125},{186,158}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,442},{170,144}}</string>
                <key>offset</key>
                <string>{12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,131},{170,144}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1136},{56,56}}</string>
                <key>offset</key>
                <string>{59,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,209},{56,56}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,490},{34,34}}</string>
                <key>offset</key>
                <string>{59,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,220},{34,34}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,454},{18,18}}</string>
                <key>offset</key>
                <string>{59,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,227},{18,18}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>SPSpirit_DrawCardFX_Red4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,162},{6,6}}</string>
                <key>offset</key>
                <string>{59,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,233},{6,6}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishing_card_red2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30d8deec217639d37e2b6baa736979d8:1/1$</string>
            <key>textureFileName</key>
            <string>wishing_card_red2.png</string>
        </dict>
    </dict>
</plist>
