<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CommonSpirit_BackLight_Purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1070},{158,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{158,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,650},{8,202}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,29},{8,202}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,650},{12,202}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,29},{12,202}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,798},{66,252}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,3},{66,252}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{102,254}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{102,254}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{118,254}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{118,254}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,638},{124,256}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,1},{124,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{148,260}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{148,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,624},{172,260}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{172,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,426},{196,260}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{196,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,426},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,214},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,214},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,260}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,624},{208,256}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{208,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,764},{206,254}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{206,254}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{202,238}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{202,238}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,418},{204,228}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{204,228}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{206,232}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{206,232}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,210},{206,228}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{206,228}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,972},{208,238}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{208,238}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,882},{208,242}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{208,242}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,866},{202,248}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{202,248}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{124,202}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{124,202}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1182},{124,202}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{124,202}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>CommonSpirit_DrawCardFX_Purple_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,624},{24,24}}</string>
                <key>offset</key>
                <string>{42,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,42},{24,24}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wishing_card_purple.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2215febdfa39d427daaed44d494e5a:1/1$</string>
            <key>textureFileName</key>
            <string>wishing_card_purple.png</string>
        </dict>
    </dict>
</plist>
