<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss12_Attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,626},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>Boss12_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,680},{54,62}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{54,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,744},{108,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{108,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{136,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{136,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1050},{178,176}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{178,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,750},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,708},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,650},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,506},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,952},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,852},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,910},{200,174}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss12_AttackTrail.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,506},{59,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,118}}</string>
                <key>sourceSize</key>
                <string>{61,120}</string>
            </dict>
            <key>Boss12_Skill1_Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,750},{72,68}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,97},{72,68}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1050},{128,108}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,66},{128,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1086},{178,140}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{178,140}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{196,150}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{196,150}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,406},{220,166}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{220,166}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,574},{240,174}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{240,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,470},{244,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{244,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{248,180}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{248,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,324},{252,180}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{252,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,286},{256,182}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{256,182}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{258,182}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{258,182}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,144},{262,178}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{262,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{266,152}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{266,152}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,142},{268,142}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{268,142}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{270,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{270,138}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{270,140}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_Hit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{270,140}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Boss12_Skill1_PaoDan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,888},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss7_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,820},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5267f68e6402dbd3f1db184e9a70c8f8:1/1$</string>
            <key>textureFileName</key>
            <string>boss7.png</string>
        </dict>
    </dict>
</plist>
