<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_34_SkillHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1498},{196,194}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,51},{196,194}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{268,266}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{268,266}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,626},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,626},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,314},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,314},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,938},{308,302}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,302}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,938},{294,288}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{294,288}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1228},{268,290}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{268,290}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1242},{264,288}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{264,288}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1498},{178,178}}</string>
                <key>offset</key>
                <string>{21,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,15},{178,178}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>Monster_34_SkillHit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1678},{174,176}}</string>
                <key>offset</key>
                <string>{22,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,15},{174,176}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elite1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42602c25f48b871d25267f7b346b9bc3:1/1$</string>
            <key>textureFileName</key>
            <string>elite1.png</string>
        </dict>
    </dict>
</plist>
