<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anubisi_Attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,176},{50,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,92}}</string>
                <key>sourceSize</key>
                <string>{50,94}</string>
            </dict>
            <key>Anubisi_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,750},{95,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{95,116}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,750},{99,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,114}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1464},{97,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{97,92}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,272},{87,82}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{87,82}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1956},{91,90}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{91,90}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,604},{99,98}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{99,98}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,710},{101,100}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1902},{101,104}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,604},{101,104}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,750},{101,104}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,750},{99,110}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{99,110}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1918},{99,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{99,106}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_AttackHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1956},{99,90}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{99,90}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>Anubisi_PassiveHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{76,101}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{76,101}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1902},{86,101}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,175},{90,95}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,78},{90,95}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1464},{90,93}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1464},{90,93}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1958},{90,87}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1956},{90,89}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,352},{84,89}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_PassiveHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,105},{74,69}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>Anubisi_Passive_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,518},{72,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{72,54}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,282},{86,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{86,68}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{94,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,41},{94,74}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,202},{102,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{102,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,1958},{110,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{110,88}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,106},{118,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{118,94}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{130,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{130,102}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1918},{136,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{136,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,762},{142,112}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{142,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,642},{150,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{150,118}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,518},{156,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{156,122}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,140},{166,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{166,130}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{170,136}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{170,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1762},{178,138}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{178,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1624},{184,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{184,144}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1478},{190,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{190,146}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Passive_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,1808},{196,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,148}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>Anubisi_Skill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,396},{244,120}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,48},{244,120}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1916},{258,130}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{258,130}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1770},{264,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{264,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,604},{264,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{264,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1624},{266,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{266,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1772},{266,144}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{266,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,604},{266,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{266,146}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,272},{244,122}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,49},{244,122}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1912},{258,134}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{258,134}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1620},{264,140}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{264,140}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1476},{266,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{266,142}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,604},{266,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{266,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1478},{266,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{266,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1768},{266,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{266,142}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,752},{252,122}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,46},{252,122}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1914},{262,132}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{262,132}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1624},{266,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{266,142}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1478},{264,144}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{264,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1808},{266,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{266,146}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1626},{266,144}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{266,144}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1770},{266,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{266,142}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,752},{254,120}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{254,120}}</string>
                <key>sourceSize</key>
                <string>{266,200}</string>
            </dict>
            <key>Anubisi_Skill_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,604},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,862},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,874},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,876},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,876},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,600}}</string>
                <key>sourceSize</key>
                <string>{300,600}</string>
            </dict>
            <key>Anubisi_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{6,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{6,178}}</string>
                <key>sourceSize</key>
                <string>{10,180}</string>
            </dict>
            <key>Anubisi_Skill_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{18,56}}</string>
                <key>offset</key>
                <string>{6,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,342},{18,56}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,176},{18,78}}</string>
                <key>offset</key>
                <string>{12,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,303},{18,78}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,518},{12,110}}</string>
                <key>offset</key>
                <string>{17,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,245},{12,110}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1958},{42,88}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,228},{42,88}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,700},{48,50}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,227},{48,50}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,574},{54,48}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,229},{54,48}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,624},{52,74}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,203},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,642},{14,136}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,117},{14,136}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,574},{16,132}}</string>
                <key>offset</key>
                <string>{19,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,66},{16,132}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>Anubisi_Skill_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,752},{26,122}}</string>
                <key>offset</key>
                <string>{10,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{26,122}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_nu_bi_si.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766899f30f16b6d276a171528f26710c:1/1$</string>
            <key>textureFileName</key>
            <string>a_nu_bi_si.png</string>
        </dict>
    </dict>
</plist>
