<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,607},{45,297}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,607},{45,297}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>addHp0.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1325},{66,81}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,1325},{66,81}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,460},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,460},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,460},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,460},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,509},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,509},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,607},{44,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,607},{44,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,509},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,509},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,558},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,558},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,607},{45,297}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,607},{45,297}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,558},{45,298}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,558},{45,298}}</string>
				<key>sourceSize</key>
				<string>{47,299}</string>
			</dict>
			<key>datonglingLine11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{301,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{301,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,884},{289,216}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,884},{289,216}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine8.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,2},{257,172}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,2},{257,172}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,655},{296,225}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,655},{296,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine12.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{301,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,2},{301,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1104},{284,216}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1104},{284,216}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,231},{301,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,231},{301,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine7.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1105},{284,216}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{290,1105},{284,216}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine13.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,656},{296,225}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{302,656},{296,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine2.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,785},{266,195}}</string>
				<key>offset</key>
				<string>{-9,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{602,785},{266,195}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine9.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1055},{266,196}}</string>
				<key>offset</key>
				<string>{-9,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{588,1055},{266,196}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine10.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,885},{289,216}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,885},{289,216}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine4.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,231},{301,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,231},{301,225}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine15.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,263},{257,172}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,263},{257,172}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>datonglingLine1.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,524},{257,172}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{606,524},{257,172}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
			<key>addHp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1401},{81,112}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{301,1401},{81,112}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp7.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1325},{72,119}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{290,1325},{72,119}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1324},{77,104}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{182,1324},{77,104}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1325},{89,121}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,1325},{89,121}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1325},{66,81}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,1325},{66,81}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1325},{83,123}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1325},{83,123}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1405},{88,115}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{182,1405},{88,115}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>addHp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1395},{78,107}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{417,1395},{78,107}}</string>
				<key>sourceSize</key>
				<string>{91,131}</string>
			</dict>
			<key>datonglingLine1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,524},{257,172}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{606,524},{257,172}}</string>
				<key>sourceSize</key>
				<string>{301,226}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1761a4d8a.png</string>
			<key>size</key>
			<string>{799,1495}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1761a4d8a.png</string>
		</dict>
	</dict>
</plist>
