<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>S+.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,116},{99,59}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,116},{99,59}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>fuhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1014},{46,24}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1014},{46,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>S.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,957},{53,58}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,957},{53,58}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,968},{45,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{64,968},{45,52}}</string>
				<key>sourceSize</key>
				<string>{45,52}</string>
			</dict>
			<key>B.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,787},{58,58}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,787},{58,58}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>jszd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,241},{97,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,241},{97,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>zhansha.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1017},{46,24}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,1017},{46,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>leiji.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1098},{44,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1098},{44,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>rank_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{129,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,484},{129,73}}</string>
				<key>sourceSize</key>
				<string>{129,73}</string>
			</dict>
			<key>jiasu.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,396},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{95,396},{48,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>smzym.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{111,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{111,24}}</string>
				<key>sourceSize</key>
				<string>{114,26}</string>
			</dict>
			<key>guideHand.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,409},{71,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,409},{71,85}}</string>
				<key>sourceSize</key>
				<string>{71,85}</string>
			</dict>
			<key>rdzf.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,297},{95,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{102,297},{95,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>D.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{58,55}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,898},{58,55}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>SS+.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,617},{144,59}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,617},{144,59}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>rank_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,765},{129,58}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,765},{129,58}}</string>
				<key>sourceSize</key>
				<string>{129,73}</string>
			</dict>
			<key>SSS.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,639},{144,58}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,639},{144,58}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>liuxue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1042},{46,24}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1042},{46,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>guideNpc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,30},{82,100}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,30},{82,100}}</string>
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>
			<key>nvzn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,325},{95,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,325},{95,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>ckxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,353},{95,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,353},{95,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>fenlie.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1017},{46,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{102,1017},{46,24}}</string>
				<key>sourceSize</key>
				<string>{46,24}</string>
			</dict>
			<key>huixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,1101},{44,24}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,1101},{44,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>zhongdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1045},{46,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,1045},{46,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>gedang.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,448},{47,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,448},{47,24}}</string>
				<key>sourceSize</key>
				<string>{47,24}</string>
			</dict>
			<key>zhuangzai.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,499},{47,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,499},{47,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>jiansu.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,527},{47,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,527},{47,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>SS.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,179},{99,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,179},{99,58}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>baotou.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1067},{46,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{102,1067},{46,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>mianyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,555},{47,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,555},{47,24}}</string>
				<key>sourceSize</key>
				<string>{47,24}</string>
			</dict>
			<key>lyqx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,269},{97,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,269},{97,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>C.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,910},{54,58}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{64,910},{54,58}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>shanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,583},{47,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,583},{47,24}}</string>
				<key>sourceSize</key>
				<string>{47,24}</string>
			</dict>
			<key>xuanyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,611},{47,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,611},{47,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>baoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1073},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,1073},{45,24}}</string>
				<key>sourceSize</key>
				<string>{50,26}</string>
			</dict>
			<key>wjqf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,297},{96,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,297},{96,24}}</string>
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>A.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,849},{58,57}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,849},{58,57}}</string>
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>baozou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1070},{46,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1070},{46,24}}</string>
				<key>sourceSize</key>
				<string>{46,24}</string>
			</dict>
			<key>mymb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,381},{89,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,381},{89,24}}</string>
				<key>sourceSize</key>
				<string>{114,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1774e1ffe.png</string>
			<key>size</key>
			<string>{128,1127}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1774e1ffe.png</string>
		</dict>
	</dict>
</plist>
