<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>selectSkillEffect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,81},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,81},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,160},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,160},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,239},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,239},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,318},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,318},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,397},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,397},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,476},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,476},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,713},{59,74}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,713},{59,74}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,555},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,555},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,869},{59,73}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,869},{59,73}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,634},{59,75}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,634},{59,75}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
			<key>selectSkillEffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,791},{59,74}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,791},{59,74}}</string>
				<key>sourceSize</key>
				<string>{131,142}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18783edf3.png</string>
			<key>size</key>
			<string>{63,944}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18783edf3.png</string>
		</dict>
	</dict>
</plist>
