<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>maomaoBf4.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,945},{111,35}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{328,945},{111,35}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>guguUltBf6.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,700},{164,141}}</string>
				<key>offset</key>
				<string>{-19,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,700},{164,141}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>vine_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,417},{647,82}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,417},{647,82}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>maomaoBf6.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1280},{111,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{761,1280},{111,37}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>guguUltBf5.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,551},{200,143}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{654,551},{200,143}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>fireUlt6.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1107},{39,42}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{955,1107},{39,42}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>qiuqiuUlt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,3},{294,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,3},{294,45}}</string>
				<key>sourceSize</key>
				<string>{309,47}</string>
			</dict>
			<key>vine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,505},{645,95}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,505},{645,95}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>fireBoom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,943},{103,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{457,943},{103,114}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>maomaoBf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,943},{109,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{414,943},{109,37}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>huahuaBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1308},{39,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,1308},{39,35}}</string>
				<key>sourceSize</key>
				<string>{39,35}</string>
			</dict>
			<key>vine2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,344},{648,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,344},{648,67}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>maomaoBf8.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,945},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{369,945},{109,39}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>maomaoBf7.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1280},{111,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,1280},{111,38}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>guguUltBf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1062},{188,164}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,1062},{188,164}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>fireBoom5.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1264},{115,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,1264},{115,126}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>maomaoBf3.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1280},{111,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{804,1280},{111,36}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>fireUlt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1350},{42,44}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1350},{42,44}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>guguBulletBf4.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,700},{144,147}}</string>
				<key>offset</key>
				<string>{-11,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,700},{144,147}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>guguBulletBf7.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1162},{154,138}}</string>
				<key>offset</key>
				<string>{-12,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{863,1162},{154,138}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>qiuqiuUltBuf.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,657},{65,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{956,657},{65,70}}</string>
				<key>sourceSize</key>
				<string>{65,70}</string>
			</dict>
			<key>fireBuf3.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1184},{44,73}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{582,1184},{44,73}}</string>
				<key>sourceSize</key>
				<string>{52,92}</string>
			</dict>
			<key>progress2.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,733},{124,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{956,733},{124,63}}</string>
				<key>sourceSize</key>
				<string>{124,63}</string>
			</dict>
			<key>vine_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,606},{645,88}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,606},{645,88}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>progress3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1239},{150,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{477,1239},{150,89}}</string>
				<key>sourceSize</key>
				<string>{150,89}</string>
			</dict>
			<key>guguBulletBf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1256},{125,131}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,1256},{125,131}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>paopaoBf.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1062},{171,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{437,1062},{171,139}}</string>
				<key>sourceSize</key>
				<string>{171,139}</string>
			</dict>
			<key>vine_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,391},{647,86}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{864,391},{647,86}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>maomaoBf5.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1142},{111,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{582,1142},{111,36}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>adaiBullet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1175},{99,137}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,1175},{99,137}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>adaiBullet5.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,812},{102,126}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{582,812},{102,126}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>zhenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1350},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,1350},{42,43}}</string>
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>
			<key>progress1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1264},{128,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{152,1264},{128,67}}</string>
				<key>sourceSize</key>
				<string>{150,89}</string>
			</dict>
			<key>vine_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,700},{644,96}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,700},{644,96}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>fireBoom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,823},{102,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{280,823},{102,116}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>guguBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,863},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{956,863},{50,63}}</string>
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>vine1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,3},{648,64}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{957,3},{648,64}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>fireUlt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1350},{42,44}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,1350},{42,44}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fireUlt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,945},{39,42}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{280,945},{39,42}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>guguBulletBf3.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,870},{139,141}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,870},{139,141}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>adaiBullet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,853},{109,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,853},{109,142}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>fireBoom4.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1029},{107,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{582,1029},{107,120}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>adaiBullet6.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,700},{103,117}}</string>
				<key>offset</key>
				<string>{-3,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,700},{103,117}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>maomaoB1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,919},{54,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{956,919},{54,137}}</string>
				<key>sourceSize</key>
				<string>{54,137}</string>
			</dict>
			<key>fireBuf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,283},{46,78}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{871,283},{46,78}}</string>
				<key>sourceSize</key>
				<string>{52,92}</string>
			</dict>
			<key>shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1029},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,1029},{74,26}}</string>
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>paopaoBullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1264},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,1264},{41,38}}</string>
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
			<key>vine3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,260},{648,78}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,260},{648,78}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>qiuqiuUlt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,54},{294,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,54},{294,45}}</string>
				<key>sourceSize</key>
				<string>{309,47}</string>
			</dict>
			<key>guguBulletBf6.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1015},{154,140}}</string>
				<key>offset</key>
				<string>{-11,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,1015},{154,140}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>adaiBullet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,700},{106,129}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{582,700},{106,129}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>fireBuf4.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,335},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{871,335},{50,76}}</string>
				<key>sourceSize</key>
				<string>{52,92}</string>
			</dict>
			<key>guguBulletBf5.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1239},{148,139}}</string>
				<key>offset</key>
				<string>{-12,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{572,1239},{148,139}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>guguUlt.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,206},{71,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{871,206},{71,80}}</string>
				<key>sourceSize</key>
				<string>{71,80}</string>
			</dict>
			<key>adaiBullet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,700},{99,116}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,700},{99,116}}</string>
				<key>sourceSize</key>
				<string>{110,143}</string>
			</dict>
			<key>maomaoBf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,700},{107,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,700},{107,38}}</string>
				<key>sourceSize</key>
				<string>{111,39}</string>
			</dict>
			<key>maomaoB2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1001},{54,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{185,1001},{54,137}}</string>
				<key>sourceSize</key>
				<string>{54,137}</string>
			</dict>
			<key>fireUlt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1184},{39,43}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,1184},{39,43}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>guguUltBf3.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,372},{201,173}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,372},{201,173}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>qiuqiuUlt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,156},{294,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,156},{294,44}}</string>
				<key>sourceSize</key>
				<string>{309,47}</string>
			</dict>
			<key>vine6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{648,80}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{648,80}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>guguBulletBf1.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,920},{103,124}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{582,920},{103,124}}</string>
				<key>sourceSize</key>
				<string>{215,184}</string>
			</dict>
			<key>fireBuf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1306},{43,82}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{846,1306},{43,82}}</string>
				<key>sourceSize</key>
				<string>{52,92}</string>
			</dict>
			<key>fireBoom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,822},{103,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{388,822},{103,115}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>addaiBuff.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1306},{118,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{895,1306},{118,74}}</string>
				<key>sourceSize</key>
				<string>{118,74}</string>
			</dict>
			<key>guguUltBf2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,206},{208,160}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,206},{208,160}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>maomaoB3.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,853},{54,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,853},{54,137}}</string>
				<key>sourceSize</key>
				<string>{54,137}</string>
			</dict>
			<key>vine4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,175},{648,79}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{648,79}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>fireBoom6.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1044},{86,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{863,1044},{86,112}}</string>
				<key>sourceSize</key>
				<string>{115,126}</string>
			</dict>
			<key>guguUltBf4.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1062},{196,156}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{105,1062},{196,156}}</string>
				<key>sourceSize</key>
				<string>{213,178}</string>
			</dict>
			<key>qiuqiuUlt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,105},{294,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,105},{294,45}}</string>
				<key>sourceSize</key>
				<string>{309,47}</string>
			</dict>
			<key>vine5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,89},{648,80}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,89},{648,80}}</string>
				<key>sourceSize</key>
				<string>{724,144}</string>
			</dict>
			<key>fireUlt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1062},{39,43}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{955,1062},{39,43}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1abd60d94.png</string>
			<key>size</key>
			<string>{1024,1395}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1abd60d94.png</string>
		</dict>
	</dict>
</plist>
