<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1784},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{344,1784},{51,63}}</string>
				<key>sourceSize</key>
				<string>{51,63}</string>
			</dict>
			<key>dungeon.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,1870},{69,61}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,1870},{69,61}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>coinsLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1296},{227,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1296},{227,204}}</string>
				<key>sourceSize</key>
				<string>{227,204}</string>
			</dict>
			<key>moreBtnUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,98},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{472,98},{90,46}}</string>
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
			<key>navigationLineup .png</key>
			<dict>
				<key>frame</key>
				<string>{{221,1854},{70,58}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{221,1854},{70,58}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>moreReward.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1936},{63,62}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1936},{63,62}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,1094},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,1094},{23,23}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>boxTittle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,569},{419,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,569},{419,62}}</string>
				<key>sourceSize</key>
				<string>{420,62}</string>
			</dict>
			<key>milepostimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1581},{70,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,1581},{70,65}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>bgIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1650},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,1650},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>dailytaskimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1504},{72,67}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1504},{72,67}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>vibrateOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,730},{41,37}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{426,730},{41,37}}</string>
				<key>sourceSize</key>
				<string>{59,53}</string>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1006},{332,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1006},{332,286}}</string>
				<key>sourceSize</key>
				<string>{332,286}</string>
			</dict>
			<key>n.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1927},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{390,1927},{43,45}}</string>
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>topPanelBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1504},{124,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1504},{124,44}}</string>
				<key>sourceSize</key>
				<string>{124,44}</string>
			</dict>
			<key>img_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1334},{139,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1334},{139,81}}</string>
				<key>sourceSize</key>
				<string>{139,81}</string>
			</dict>
			<key>boxTittle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,503},{420,62}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,503},{420,62}}</string>
				<key>sourceSize</key>
				<string>{456,76}</string>
			</dict>
			<key>+.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1784},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,1784},{36,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>roleUlt6.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1575},{87,86}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{244,1575},{87,86}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>moreBtnDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1820},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,1820},{90,46}}</string>
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
			<key>-.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1824},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,1824},{36,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>customerServerIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1927},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{344,1927},{46,42}}</string>
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>topAddBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,730},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,730},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>handbookProgressBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1504},{124,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,1504},{124,11}}</string>
				<key>sourceSize</key>
				<string>{140,15}</string>
			</dict>
			<key>progress_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{466,32}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,101},{466,32}}</string>
				<key>sourceSize</key>
				<string>{466,95}</string>
			</dict>
			<key>boxTittle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,431},{420,68}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,431},{420,68}}</string>
				<key>sourceSize</key>
				<string>{456,76}</string>
			</dict>
			<key>randomReward.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1936},{62,60}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{69,1936},{62,60}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>roleUlt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,637},{90,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{426,637},{90,89}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>rewardEffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,1400},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>navigationStore.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1864},{59,55}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,1864},{59,55}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>set.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1934},{64,69}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{204,1934},{64,69}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>checkMark.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1381},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{480,1381},{38,33}}</string>
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>panel_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,775},{107,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{418,775},{107,100}}</string>
				<key>sourceSize</key>
				<string>{107,100}</string>
			</dict>
			<key>img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,297},{27,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,297},{27,16}}</string>
				<key>sourceSize</key>
				<string>{27,16}</string>
			</dict>
			<key>roleUlt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1734},{81,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{417,1734},{81,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>panel_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1419},{125,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1419},{125,57}}</string>
				<key>sourceSize</key>
				<string>{141,65}</string>
			</dict>
			<key>qqIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,42},{47,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,42},{47,52}}</string>
				<key>sourceSize</key>
				<string>{47,52}</string>
			</dict>
			<key>btn_shareRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,192},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,192},{66,68}}</string>
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>lock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1784},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{344,1784},{51,63}}</string>
				<key>sourceSize</key>
				<string>{51,63}</string>
			</dict>
			<key>moreFuncBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1928},{63,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,1928},{63,65}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img_soundOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1418},{37,30}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{480,1418},{37,30}}</string>
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>img_soundClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1877},{30,32}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{399,1877},{30,32}}</string>
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,137},{448,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,137},{448,76}}</string>
				<key>sourceSize</key>
				<string>{464,78}</string>
			</dict>
			<key>girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1094},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{445,1094},{18,26}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>roleUlt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,425},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{428,425},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>checkBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1902},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{484,1902},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>navigationLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,635},{4,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,635},{4,136}}</string>
				<key>sourceSize</key>
				<string>{4,136}</string>
			</dict>
			<key>vibrateOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1334},{43,40}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{480,1334},{43,40}}</string>
				<key>sourceSize</key>
				<string>{59,53}</string>
			</dict>
			<key>bgIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1853},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,1853},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>navigationPet.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1864},{59,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,1864},{59,53}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>panel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,635},{412,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,635},{412,367}}</string>
				<key>sourceSize</key>
				<string>{412,367}</string>
			</dict>
			<key>roleUlt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1691},{89,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{323,1691},{89,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>friendHelp.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1070},{76,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,1070},{76,49}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>eggBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,328},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,328},{93,92}}</string>
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1123},{181,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,1123},{181,207}}</string>
				<key>sourceSize</key>
				<string>{181,207}</string>
			</dict>
			<key>weekBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1935},{63,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{133,1935},{63,67}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,217},{448,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,217},{448,76}}</string>
				<key>sourceSize</key>
				<string>{464,78}</string>
			</dict>
			<key>progress_loading_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{466,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{466,95}}</string>
				<key>sourceSize</key>
				<string>{466,95}</string>
			</dict>
			<key>rank_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1006},{76,60}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,1006},{76,60}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>panel_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1480},{125,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1480},{125,57}}</string>
				<key>sourceSize</key>
				<string>{141,65}</string>
			</dict>
			<key>navigationHero.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,264},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,264},{66,60}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1541},{59,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{334,1541},{59,106}}</string>
				<key>sourceSize</key>
				<string>{59,106}</string>
			</dict>
			<key>navigationFight.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1870},{60,58}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{159,1870},{60,58}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>handbookBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1452},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,1452},{54,69}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>roleUlt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1770},{90,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,1770},{90,80}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1116},{2,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{445,1116},{2,54}}</string>
				<key>sourceSize</key>
				<string>{2,54}</string>
			</dict>
			<key>img_fragment2.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,2},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,2},{48,36}}</string>
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>jiantou_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1094},{31,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,1094},{31,17}}</string>
				<key>sourceSize</key>
				<string>{31,17}</string>
			</dict>
			<key>img_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,137},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,137},{2,2}}</string>
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>bgIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1819},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{437,1819},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>topPanelBg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1504},{124,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1504},{124,44}}</string>
				<key>sourceSize</key>
				<string>{124,44}</string>
			</dict>
			<key>img_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1334},{139,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1334},{139,81}}</string>
				<key>sourceSize</key>
				<string>{139,81}</string>
			</dict>
			<key>panel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1123},{181,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,1123},{181,207}}</string>
				<key>sourceSize</key>
				<string>{181,207}</string>
			</dict>
			<key>watchAd.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1902},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,1902},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>progress_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{466,32}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,101},{466,32}}</string>
				<key>sourceSize</key>
				<string>{466,95}</string>
			</dict>
			<key>progress_loading_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{466,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{466,95}}</string>
				<key>sourceSize</key>
				<string>{466,95}</string>
			</dict>
			<key>milepostimg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1581},{70,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,1581},{70,65}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>bgIcon1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1650},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,1650},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>dailytaskimg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1504},{72,67}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1504},{72,67}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>topPanelBg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1504},{124,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1504},{124,44}}</string>
				<key>sourceSize</key>
				<string>{124,44}</string>
			</dict>
			<key>img_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1334},{139,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1334},{139,81}}</string>
				<key>sourceSize</key>
				<string>{139,81}</string>
			</dict>
			<key>img_gamefail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,297},{422,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,297},{422,130}}</string>
				<key>sourceSize</key>
				<string>{422,130}</string>
			</dict>
			<key>navigationStore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1864},{59,55}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,1864},{59,55}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>recordShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1525},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,1525},{54,52}}</string>
				<key>sourceSize</key>
				<string>{56,54}</string>
			</dict>
			<key>navigationPet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1864},{59,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,1864},{59,53}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>watchAd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1902},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,1902},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>img1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1116},{2,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{445,1116},{2,54}}</string>
				<key>sourceSize</key>
				<string>{2,54}</string>
			</dict>
			<key>coinsLight_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1296},{227,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1296},{227,204}}</string>
				<key>sourceSize</key>
				<string>{227,204}</string>
			</dict>
			<key>milepostimg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1581},{70,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,1581},{70,65}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>bgIcon1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1650},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,1650},{79,80}}</string>
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>dailytaskimg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1504},{72,67}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1504},{72,67}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>paodan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1552},{89,109}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,1552},{89,109}}</string>
				<key>sourceSize</key>
				<string>{97,115}</string>
			</dict>
			<key>img_arrow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1334},{139,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,1334},{139,81}}</string>
				<key>sourceSize</key>
				<string>{139,81}</string>
			</dict>
			<key>img_gamefail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,297},{422,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,297},{422,130}}</string>
				<key>sourceSize</key>
				<string>{422,130}</string>
			</dict>
			<key>navigationStore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1864},{59,55}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,1864},{59,55}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>recordShare_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1525},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,1525},{54,52}}</string>
				<key>sourceSize</key>
				<string>{56,54}</string>
			</dict>
			<key>video.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1839},{34,34}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{399,1839},{34,34}}</string>
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>navigationPet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1864},{59,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,1864},{59,53}}</string>
				<key>sourceSize</key>
				<string>{77,65}</string>
			</dict>
			<key>panel2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,635},{412,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,635},{412,367}}</string>
				<key>sourceSize</key>
				<string>{412,367}</string>
			</dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1941},{27,27}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{484,1941},{27,27}}</string>
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>penhuoqiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,519},{93,114}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{426,519},{93,114}}</string>
				<key>sourceSize</key>
				<string>{97,115}</string>
			</dict>
			<key>jujishou.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1604},{83,103}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{334,1604},{83,103}}</string>
				<key>sourceSize</key>
				<string>{97,115}</string>
			</dict>
			<key>watchAd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1902},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,1902},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>huixuanbiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1519},{89,110}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{130,1519},{89,110}}</string>
				<key>sourceSize</key>
				<string>{97,115}</string>
			</dict>
			<key>img1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1116},{2,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{445,1116},{2,54}}</string>
				<key>sourceSize</key>
				<string>{2,54}</string>
			</dict>
			<key>img_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,137},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,137},{2,2}}</string>
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>img_fragment2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,2},{48,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,2},{48,36}}</string>
				<key>sourceSize</key>
				<string>{48,36}</string>
			</dict>
			<key>img_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,137},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,137},{2,2}}</string>
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>
			<key>rewardEffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,886},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,886},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,990},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,990},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1296},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,1296},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,1400},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1612},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,1612},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1645},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1645},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1666},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,1666},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1716},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,1716},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>rewardEffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1749},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1749},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1d556bb12.png</string>
			<key>size</key>
			<string>{522,2000}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1d556bb12.png</string>
		</dict>
	</dict>
</plist>
