<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_field10_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,660},{267,305}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,44},{267,305}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field11_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,929},{281,311}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,44},{281,311}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field12_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,638},{289,299}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,56},{289,299}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field13_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1741},{299,297}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,67},{299,297}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field14_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{363,349}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{363,349}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field15_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,295},{265,307}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,48},{265,307}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field16_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{319,343}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{319,343}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field17_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,859},{285,307}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{285,307}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field18_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,343},{293,315}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,49},{293,315}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field19_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1168},{287,297}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{287,297}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field1_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{347,335}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{347,335}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field20_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1182},{307,279}}</string>
                <key>offset</key>
                <string>{-19,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,75},{307,279}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field21_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,562},{311,295}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,59},{311,295}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field22_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,323},{311,313}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{311,313}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field23_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1463},{299,287}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{299,287}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field24_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1744},{247,297}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{247,297}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field25_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{357,339}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{357,339}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field26_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{303,321}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{303,321}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field27_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,742},{277,303}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{277,303}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field28_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1212},{277,307}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,54},{277,307}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field29_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{291,309}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,43},{291,309}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field2_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1426},{307,313}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{307,313}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field30_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1744},{285,275}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,67},{285,275}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field31_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1777},{261,311}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{261,311}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field3_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{355,293}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,67},{355,293}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field4_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1491},{251,295}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,59},{251,295}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field5_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,929},{251,319}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,59},{251,319}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field6_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,405}}</string>
                <key>sourceSize</key>
                <string>{567,405}</string>
            </dict>
            <key>img_field7_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,409},{277,331}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{277,331}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field8_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1752},{307,277}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{307,277}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
            <key>img_field9_home_jbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1097},{269,327}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{269,327}}</string>
                <key>sourceSize</key>
                <string>{373,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>field_jtdzz.png</string>
            <key>size</key>
            <string>{1586,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b2de349204dabc1c08d57954b5ef28:073241ac12408bacf8165aab61f2887d:693a108b011a1db7d82bb7e11f9933b2$</string>
            <key>textureFileName</key>
            <string>field_jtdzz.png</string>
        </dict>
    </dict>
</plist>
