<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_guide_hand_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,192},{94,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,417}}</string>
                <key>sourceSize</key>
                <string>{94,417}</string>
            </dict>
            <key>bg_input_nickname_revise_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>bg_money_top_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,831},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>bg_notice_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,47},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>btn_change_head_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,382},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>btn_close_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>btn_fury_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,942},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>btn_ice_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,534},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>btn_missile_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,942},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>btn_pause_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,192},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>btn_play_speed_1_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,308},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>btn_play_speed_2_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,250},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>btn_prop_explain_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,942},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>btn_revise_nickname_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,984},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>icon_arrow_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,991},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>icon_notice_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,957},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>icon_pen_nickname_revise_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,100},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_avatar1_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,106},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_avatar2_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,906},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_avatar3_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,809},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_avatar4_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,712},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_avatar5_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,287},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_avatar6_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,192},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>img_boss_coming_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,188}}</string>
                <key>sourceSize</key>
                <string>{640,188}</string>
            </dict>
            <key>img_boss_red_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{63,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,148}}</string>
                <key>sourceSize</key>
                <string>{63,148}</string>
            </dict>
            <key>img_boss_warn_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,192},{526,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,146}}</string>
                <key>sourceSize</key>
                <string>{526,146}</string>
            </dict>
            <key>img_guide_hand_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,937},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>img_line_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1020},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>img_mask_prop_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,957},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>img_money_big_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,192},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>img_role_skill14_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,423},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill15_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,192},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill16_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,106},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill17_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill1_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill2_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill3_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,826},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill4_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,715},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill5_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,611},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill6_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,831},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill7_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,720},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill8_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,831},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_role_skill9_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,720},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>img_select_change_head_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,609},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>img_skill_bg_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,366},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>progress_1_bar_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,192},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>progress_1_bg_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{640,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,28}}</string>
                <key>sourceSize</key>
                <string>{640,28}</string>
            </dict>
            <key>progress_1_line_game_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,984},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_jtdzz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a58388262b453845cb6c364c39a9b022:8ab621ff987e9491027d53927c27ba3e:37ef836f9f77bafb335eca195a35e357$</string>
            <key>textureFileName</key>
            <string>game_jtdzz.png</string>
        </dict>
    </dict>
</plist>
