<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_gem2_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>img_gem3_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>img_gem4_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>img_gem5_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>img_gem6_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>img_gem_buy_gem_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gift_jtdzz.png</string>
            <key>size</key>
            <string>{119,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e37fb9bc0f3802b78aa10338aa2b7c03:15e45b34db482eb1d4a3c36c72cb5fe9:dae83ecbabe71e002890201908307d32$</string>
            <key>textureFileName</key>
            <string>gift_jtdzz.png</string>
        </dict>
    </dict>
</plist>
