<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guideHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>guideNpc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>newUserCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,75},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>newUserGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{256,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60d3da1a23c84b81e3b23190f763b45$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
