<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_money_num_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>btn_add_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,689},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>icon_combat_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,732},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>icon_energy_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>icon_lock_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,521},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>icon_money_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,574},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>icon_red_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,833},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>icon_soul_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,776},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>img_egg_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,574},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
            <key>img_handbook_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,338},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>img_milepost_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,142},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>img_ranking_list_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>img_reward_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,689},{59,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,106}}</string>
                <key>sourceSize</key>
                <string>{59,106}</string>
            </dict>
            <key>img_set_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,209},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_sign_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,394},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>img_task_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,73},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>navigation_bg_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,162}}</string>
                <key>sourceSize</key>
                <string>{640,162}</string>
            </dict>
            <key>navigation_dungeon_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,275},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>navigation_fight_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,629},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>navigation_hero_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,459},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>navigation_line_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,73},{4,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,136}}</string>
                <key>sourceSize</key>
                <string>{4,136}</string>
            </dict>
            <key>navigation_pet_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,820},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>navigation_select_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{151,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,141}}</string>
                <key>sourceSize</key>
                <string>{151,141}</string>
            </dict>
            <key>navigation_store_home_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,797},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_jtdzz.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4922bd503b3f17420cb57c2afa5ac69e:a8d4478e9d4f6566ffd1d4084166ee1c:47d11614e6387a44047a336c0fc66e5c$</string>
            <key>textureFileName</key>
            <string>home_jtdzz.png</string>
        </dict>
    </dict>
</plist>
