<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_card_month_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,475},{21,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,272}}</string>
                <key>sourceSize</key>
                <string>{21,272}</string>
            </dict>
            <key>bg_card_week_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,452},{21,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,272}}</string>
                <key>sourceSize</key>
                <string>{21,272}</string>
            </dict>
            <key>bg_reward_box1_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{205,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,300}}</string>
                <key>sourceSize</key>
                <string>{205,300}</string>
            </dict>
            <key>bg_reward_box2_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,304},{204,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,300}}</string>
                <key>sourceSize</key>
                <string>{204,300}</string>
            </dict>
            <key>bg_reward_box3_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{204,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,299}}</string>
                <key>sourceSize</key>
                <string>{204,299}</string>
            </dict>
            <key>btn_green_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,76}}</string>
                <key>sourceSize</key>
                <string>{448,76}</string>
            </dict>
            <key>btn_reward_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,393},{231,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,116}}</string>
                <key>sourceSize</key>
                <string>{231,116}</string>
            </dict>
            <key>icon_count_down_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>img_big_gem_milepost_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,321},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>img_big_reward_box_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{621,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,168}}</string>
                <key>sourceSize</key>
                <string>{621,168}</string>
            </dict>
            <key>img_coins_light_offline_revenue_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,302},{227,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,204}}</string>
                <key>sourceSize</key>
                <string>{227,204}</string>
            </dict>
            <key>img_diamond_card_month_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,414},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>img_diamond_card_week_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,414},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>img_light_happy_get_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{407,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,410}}</string>
                <key>sourceSize</key>
                <string>{407,410}</string>
            </dict>
            <key>img_money_milepost_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,444},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>img_pet_10_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,246},{73,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,88}}</string>
                <key>sourceSize</key>
                <string>{73,88}</string>
            </dict>
            <key>img_pet_1_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,304},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,86}}</string>
                <key>sourceSize</key>
                <string>{110,86}</string>
            </dict>
            <key>img_pet_2_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,444},{65,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,85}}</string>
                <key>sourceSize</key>
                <string>{65,85}</string>
            </dict>
            <key>img_pet_3_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,419},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>img_pet_4_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,384},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>img_pet_5_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,285},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>img_pet_6_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,172},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>img_pet_7_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,414},{111,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,92}}</string>
                <key>sourceSize</key>
                <string>{111,92}</string>
            </dict>
            <key>img_pet_8_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,172},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>img_pet_9_task_daily_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,301},{116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,80}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>img_reward_box1_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,172},{140,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,128}}</string>
                <key>sourceSize</key>
                <string>{140,128}</string>
            </dict>
            <key>img_reward_box2_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,172},{140,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,128}}</string>
                <key>sourceSize</key>
                <string>{140,128}</string>
            </dict>
            <key>img_reward_box3_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,302},{140,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>img_reward_box4_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,172},{140,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,127}}</string>
                <key>sourceSize</key>
                <string>{140,127}</string>
            </dict>
            <key>img_supply_energy_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,414},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>img_supply_money_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,172},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>img_supply_soul_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,392},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>title_box1_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{420,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,62}}</string>
                <key>sourceSize</key>
                <string>{420,62}</string>
            </dict>
            <key>title_box2_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{420,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,68}}</string>
                <key>sourceSize</key>
                <string>{420,68}</string>
            </dict>
            <key>title_box3_shop_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{419,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,62}}</string>
                <key>sourceSize</key>
                <string>{419,62}</string>
            </dict>
            <key>title_happy_get_jtdzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{389,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,126}}</string>
                <key>sourceSize</key>
                <string>{389,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward_jtdzz.png</string>
            <key>size</key>
            <string>{1945,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f5454304c673448b8138ec18143352:07bfae5a1a61f5f1dde579b2bab687b9:5da6561cabb2660445017745d37287b3$</string>
            <key>textureFileName</key>
            <string>reward_jtdzz.png</string>
        </dict>
    </dict>
</plist>
