<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_HPRecovery_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,152},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,152},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,928},{78,56}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,94},{78,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,928},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,74},{88,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,924},{96,96}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{96,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,604},{108,106}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{108,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,868},{114,120}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{114,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,742},{118,124}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{118,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,604},{122,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,150},{124,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{124,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,820},{126,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,506},{126,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{126,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,826},{126,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,842},{126,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,674},{126,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,820},{128,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,334},{130,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{130,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,298},{128,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,776},{120,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,450},{120,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,772},{118,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,772},{118,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,624},{116,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{116,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,776},{114,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,776},{112,146}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{112,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,626},{110,142}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{110,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_HPRecovery_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,466},{76,128}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{76,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>FX_Invincible_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{164,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,320},{164,144}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{164,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,842},{164,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{164,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,170},{164,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,148}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,506},{162,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,148}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,674},{162,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,148}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{162,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,146}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,826},{162,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,458},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,312},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,148},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,460},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,296},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,150},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,626},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,480},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,612},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,656},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,466},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,656},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,316},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,152},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,170},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Invincible_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{162,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>FX_Magic_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,338},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,506},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,674},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,842},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,170},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,338},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,506},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,674},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,170},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,506},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,170},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,338},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>FX_Magic_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,166}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_effects_2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b024133544d89d5825fcefcd4c2ccd5:1/1$</string>
            <key>textureFileName</key>
            <string>monster_effects_2.png</string>
        </dict>
    </dict>
</plist>
