<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Forging_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,52},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>Forging_Bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,52},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>Forging_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,340},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>Forging_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,768}}</string>
                <key>sourceSize</key>
                <string>{640,768}</string>
            </dict>
            <key>Forging_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{375,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,369}}</string>
                <key>sourceSize</key>
                <string>{375,369}</string>
            </dict>
            <key>Forging_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,208},{104,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,36}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>Forging_BtnTab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,152},{120,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,54}}</string>
                <key>sourceSize</key>
                <string>{120,54}</string>
            </dict>
            <key>Forging_BtnTab_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,101},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>Forging_BtnTab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,526},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>Forging_BtnTab_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,632},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Forging_BtnTab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,479},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>Forging_BtnTab_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,246},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>Forging_BtnTab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,470},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>Forging_BtnTab_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,628},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Forging_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,527},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>Forging_Btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,508},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>Forging_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,470},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>Function_Btn_Forging.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,340},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>HC_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,652}}</string>
                <key>sourceSize</key>
                <string>{640,652}</string>
            </dict>
            <key>HC_BtnTab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,381},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>HC_BtnTab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,60},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>HC_BtnTab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,583},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>HC_BtnTab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,609},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>HC_BtnTab_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,533},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>HC_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,60},{141,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,39}}</string>
                <key>sourceSize</key>
                <string>{141,39}</string>
            </dict>
            <key>HC_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,581},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>HC_Btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,581},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>HC_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,287},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>HC_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,246},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>HC_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{221,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,56}}</string>
                <key>sourceSize</key>
                <string>{221,56}</string>
            </dict>
            <key>HC_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,291},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HC_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{40,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,2}}</string>
                <key>sourceSize</key>
                <string>{40,2}</string>
            </dict>
            <key>HC_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,36},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>HC_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,20},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>HC_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>HC_icon_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,426},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>HC_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,406},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>JS_ZBK.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,175},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,578},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,559},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,447},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_merge_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c5dfc6cad6c57476e7be1c231c3f6c:1/1$</string>
            <key>textureFileName</key>
            <string>equip_merge_ui.png</string>
        </dict>
    </dict>
</plist>
