<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Common_Btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,59},{185,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,55}}</string>
                <key>sourceSize</key>
                <string>{185,55}</string>
            </dict>
            <key>Common_Btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{185,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,55}}</string>
                <key>sourceSize</key>
                <string>{185,55}</string>
            </dict>
            <key>Course_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,146},{203,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,149}}</string>
                <key>sourceSize</key>
                <string>{203,149}</string>
            </dict>
            <key>Course_Man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{266,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,232}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>Course_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>Dialog_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{716,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,246}}</string>
                <key>sourceSize</key>
                <string>{716,246}</string>
            </dict>
            <key>Dialog_Btn_Next.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,297},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>Dialog_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,68}}</string>
                <key>sourceSize</key>
                <string>{312,68}</string>
            </dict>
            <key>TY_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,116},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>XL_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,297},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorials.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d6674ba5888bbed626c1e494d676830:1/1$</string>
            <key>textureFileName</key>
            <string>tutorials.png</string>
        </dict>
    </dict>
</plist>
