<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_Text_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,109},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>Game_Text_Control.png8.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{105,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,42}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>Game_Text_Crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>Game_Text_HS.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,137},{114,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,24}}</string>
                <key>sourceSize</key>
                <string>{114,24}</string>
            </dict>
            <key>Game_Text_Invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>Game_Text_Miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,29},{78,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,25}}</string>
                <key>sourceSize</key>
                <string>{78,25}</string>
            </dict>
            <key>Game_Text_SHS.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>TY_GuaiWuHP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,118},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>TY_GuaiWuHP_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,118},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>feibiao_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,136},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>jianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,141},{29,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,108}}</string>
                <key>sourceSize</key>
                <string>{29,108}</string>
            </dict>
            <key>kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,140},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>paodan.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,91},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>paodan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,29},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>super_jianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,137}}</string>
                <key>sourceSize</key>
                <string>{36,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighting.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f176066c47788edb3accfb29478c47d:1/1$</string>
            <key>textureFileName</key>
            <string>fighting.png</string>
        </dict>
    </dict>
</plist>
