<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fx_Evolve_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1344},{58,42}}</string>
                <key>offset</key>
                <string>{-4,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,249},{58,42}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1944},{132,96}}</string>
                <key>offset</key>
                <string>{-3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,223},{132,96}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{270,178}}</string>
                <key>offset</key>
                <string>{-4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,172},{270,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{344,208}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,142},{344,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{338,208}}</string>
                <key>offset</key>
                <string>{-4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,142},{338,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,702},{324,204}}</string>
                <key>offset</key>
                <string>{-4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,146},{324,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,318},{306,196}}</string>
                <key>offset</key>
                <string>{-3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,154},{306,196}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1648},{294,192}}</string>
                <key>offset</key>
                <string>{-3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,158},{294,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,606},{288,190}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,160},{288,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1294},{290,188}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,162},{290,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1294},{294,188}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,162},{294,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1648},{294,188}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,162},{294,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,686},{296,188}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,162},{296,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,308},{296,186}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,164},{296,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1590},{294,186}}</string>
                <key>offset</key>
                <string>{-4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,164},{294,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,984},{290,184}}</string>
                <key>offset</key>
                <string>{-5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,166},{290,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,298},{288,184}}</string>
                <key>offset</key>
                <string>{-6,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,166},{288,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1586},{268,178}}</string>
                <key>offset</key>
                <string>{-5,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,172},{268,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1344},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,624},{60,182}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,131},{60,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,626},{62,262}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,52},{62,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{272,346}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{272,346}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,350}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{272,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{272,336}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{272,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{272,320}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{272,320}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,314}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{272,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1028},{272,314}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{272,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{274,304}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{274,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,318},{274,304}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{274,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1344},{276,302}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{276,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,690},{276,302}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{276,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,994},{274,298}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{274,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{294,270}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{294,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1276},{244,262}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{244,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1856},{202,188}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,68},{202,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_Evolve_F_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1540},{200,204}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{200,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_shengjie.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d241a91d55151eed43cbcf602f1437:1/1$</string>
            <key>textureFileName</key>
            <string>role_shengjie.png</string>
        </dict>
    </dict>
</plist>
