<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiTu_BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,54},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>Gift_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,459},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Gift_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Gift_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,242},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>Gift_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,148}}</string>
                <key>sourceSize</key>
                <string>{444,148}</string>
            </dict>
            <key>Gift_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,393},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Gift_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,438},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Gift_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,393},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Gift_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,154},{139,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,75}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>Gift_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,152},{157,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,88}}</string>
                <key>sourceSize</key>
                <string>{157,88}</string>
            </dict>
            <key>Gift_Btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{220,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>Gift_Icon_Talent.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,219},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>Gift_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>Gift_Shadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,372},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Gift_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Gift_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Gift_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,354},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Gift_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,242},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Gift_icon_EXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,295},{96,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{96,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Gift_icon_JYZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,307},{84,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{84,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_icon_ChuZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,286},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Shop_Bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,241},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>Shop_Icon_Chest_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,202},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,152},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,102},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gift_center_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65857c7da8c2ac8cb86a6dd41425c655:1/1$</string>
            <key>textureFileName</key>
            <string>gift_center_ui.png</string>
        </dict>
    </dict>
</plist>
