<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JS_XZ_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,294},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,270},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,194},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,180},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,284},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,180},{88,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,94},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,270},{88,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_XZ_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{88,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>JS_ZBL_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>JS_ZBL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,617},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>JS_ZBL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,624},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Set_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,767},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,821},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,813},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,812},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,812},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,756},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_SuiPian.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,666},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>TY_TCBG_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TY_ZBBQ_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,232},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>TY_ZBBQ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,206},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>TY_ZBBQ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,180},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>TY_ZBYS_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,610},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,585},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,472},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,553},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,536},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,543},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,529},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,462},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZBYS_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,448},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>TY_ZB_H0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,150},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,447},{71,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{71,51}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,384},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,57}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{61,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{61,63}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,634},{49,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{49,69}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,691},{63,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,219},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,749},{61,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{61,61}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,752},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{59,61}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,705},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{67,65}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,75},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{69,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{69,51}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,685},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{67,65}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{55,71}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,772},{49,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{49,47}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,520},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,698},{67,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,71}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_ZB_H5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,704},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{43,63}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>TY_heroTX_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_heroTX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,94},{84,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{84,109}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_heroTX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,98},{80,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,103}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_heroTX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{94,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_heroTX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_heroTX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>TY_skill_H0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,448},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>TY_skill_H1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,384},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>TY_skill_H2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,374},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>TY_skill_H3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,360},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>TY_skill_H4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>TY_skill_H5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,360},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon_ZB_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,94},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shared_img.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e73f9f003ee6c268e0527648c9bc66f5:1/1$</string>
            <key>textureFileName</key>
            <string>shared_img.png</string>
        </dict>
    </dict>
</plist>
