<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CB_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,424},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>CB_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{144,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,42}}</string>
                <key>sourceSize</key>
                <string>{144,42}</string>
            </dict>
            <key>CB_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{536,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,42}}</string>
                <key>sourceSize</key>
                <string>{536,42}</string>
            </dict>
            <key>CB_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>CB_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,520},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>CB_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,579},{430,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,42}}</string>
                <key>sourceSize</key>
                <string>{430,42}</string>
            </dict>
            <key>CB_frame_Skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,158},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CB_icon_GemL.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,482},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>CB_icon_GemS.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,98},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>CB_icon_Hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,571},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>CB_icon_JT.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,571},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>CB_icon_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>CB_icon_MP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>CB_icon_MP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,526},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>CB_icon_WallLv.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,615},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>CB_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,424},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>CB_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,531},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>CB_icon_skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,312},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>CB_icon_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,68},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>CB_icon_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>CB_icon_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>CB_icon_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,565},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,476},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,98},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>YC_top_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,159},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>YC_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{160,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>YC_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,54}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cultivate_ui.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d3523f00e84e861f2927c592f92e98:1/1$</string>
            <key>textureFileName</key>
            <string>cultivate_ui.png</string>
        </dict>
    </dict>
</plist>
