<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiTu_BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,934},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>Rank_Icon_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,957},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,945},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Tower_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,804},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Tower_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,703},{309,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,57}}</string>
                <key>sourceSize</key>
                <string>{309,57}</string>
            </dict>
            <key>WarOrder_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,386}}</string>
                <key>sourceSize</key>
                <string>{640,386}</string>
            </dict>
            <key>WarOrder_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{254,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,44}}</string>
                <key>sourceSize</key>
                <string>{254,44}</string>
            </dict>
            <key>WarOrder_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,390},{374,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,34}}</string>
                <key>sourceSize</key>
                <string>{374,34}</string>
            </dict>
            <key>WarOrder_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,390},{247,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,34}}</string>
                <key>sourceSize</key>
                <string>{247,34}</string>
            </dict>
            <key>WarOrder_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,889},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>WarOrder_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,390},{630,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,142}}</string>
                <key>sourceSize</key>
                <string>{630,142}</string>
            </dict>
            <key>WarOrder_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,703},{257,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,73}}</string>
                <key>sourceSize</key>
                <string>{257,73}</string>
            </dict>
            <key>WarOrder_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,945},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WarOrder_Btn_GoTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,917},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>WarOrder_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{199,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,165}}</string>
                <key>sourceSize</key>
                <string>{199,165}</string>
            </dict>
            <key>WarOrder_Jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,989},{27,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,47}}</string>
                <key>sourceSize</key>
                <string>{27,47}</string>
            </dict>
            <key>WarOrder_Jdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,870},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WarOrder_Jdtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,703},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>WarOrder_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{335,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,311}}</string>
                <key>sourceSize</key>
                <string>{335,311}</string>
            </dict>
            <key>ZhanLin_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,957},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZhanLin_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,644},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>ZhanLin_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{640,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,138}}</string>
                <key>sourceSize</key>
                <string>{640,138}</string>
            </dict>
            <key>ZhanLin_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,644},{220,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,83}}</string>
                <key>sourceSize</key>
                <string>{220,83}</string>
            </dict>
            <key>ZhanLin_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{133,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,65}}</string>
                <key>sourceSize</key>
                <string>{133,65}</string>
            </dict>
            <key>ZhanLin_Btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,710},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>ZhanLin_Btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,639},{115,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,42}}</string>
                <key>sourceSize</key>
                <string>{115,42}</string>
            </dict>
            <key>ZhanLin_Icon_DaGou.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,804},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>ZhanLin_Information.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,644},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>ZhanLin_JinDu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,866},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>ZhanLin_JinDu_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,934},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>ZhanLin_JinDu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,957},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>ZhanLin_JinDu_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,889},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>ZhanLin_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,804},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>ZhanLin_Level_JinDu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,390},{366,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,35}}</string>
                <key>sourceSize</key>
                <string>{366,35}</string>
            </dict>
            <key>ZhanLin_Level_JinDu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,390},{351,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,27}}</string>
                <key>sourceSize</key>
                <string>{351,27}</string>
            </dict>
            <key>ZhanLin_Reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,766},{321,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,36}}</string>
                <key>sourceSize</key>
                <string>{321,36}</string>
            </dict>
            <key>ZhanLin_Top_Banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,214}}</string>
                <key>sourceSize</key>
                <string>{640,214}</string>
            </dict>
            <key>ZhanLin_ZheZhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,866},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ZhanLin_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,969},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_pass_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c893961b249bcd3cf44024a2477be48:1/1$</string>
            <key>textureFileName</key>
            <string>battle_pass_ui.png</string>
        </dict>
    </dict>
</plist>
