<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fx_StarLevelUp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,420},{130,142}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{130,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,318},{132,142}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{132,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,282},{136,144}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{136,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{142,138}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{142,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,472},{140,134}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{140,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{148,134}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{148,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,138},{146,142}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{146,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,202},{142,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,176},{140,144}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{140,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,344},{130,136}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{130,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,344},{118,126}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,40},{118,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,344},{104,100}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{104,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,344},{94,94}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{94,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,90},{78,82}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,68},{78,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,266},{76,80}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,68},{76,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{86,86}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{86,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,170},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,61},{94,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Fx_StarLevelUp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_star.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84763e51f72ec7136da9129c2673d2c:1/1$</string>
            <key>textureFileName</key>
            <string>role_star.png</string>
        </dict>
    </dict>
</plist>
