<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_IconLight1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,264},{120,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,264},{122,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{126,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{126,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,262},{128,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,134},{128,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,134},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,794},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,662},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,530},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,398},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,266},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,134},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,134},{128,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,134},{128,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,264},{124,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>FX_IconLight1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,388},{122,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign_in_effects1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ca5d378d3e568a051238f8875aa61f:1/1$</string>
            <key>textureFileName</key>
            <string>sign_in_effects1.png</string>
        </dict>
    </dict>
</plist>
