<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_19_SkillHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,466},{190,112}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{190,112}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,458},{188,116}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{188,116}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,344},{192,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{190,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{190,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{194,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{194,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{200,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,234},{196,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{196,108}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_SkillHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,124},{198,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{198,108}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>Monster_19_Skill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,724},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{72,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,652},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,580},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,580},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,306},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Monster_19_Skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,154},{70,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>you_ling.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:416e69fdd5ec28f0cb5a9c572dbd9fe7:1/1$</string>
            <key>textureFileName</key>
            <string>you_ling.png</string>
        </dict>
    </dict>
</plist>
