<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss10_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,284},{250,280}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{250,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{250,280}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{250,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,802},{214,256}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{214,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,930},{222,246}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{222,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,684},{228,244}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{228,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,536},{244,264}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{244,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,284},{250,264}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{250,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,536},{256,268}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{256,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,818},{262,272}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{262,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1100},{268,274}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{268,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1376},{212,264}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{212,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1154},{156,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,62},{156,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,534},{196,148}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{196,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,992},{222,164}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,50},{222,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1054},{242,194}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{242,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,284},{248,212}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{248,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,764},{248,226}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{248,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,284},{250,234}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{250,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,802},{250,240}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,284},{250,242}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{250,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1060},{250,240}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,536},{250,238}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{250,232}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{250,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_4Bao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,536},{250,226}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{250,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boss10_Skill1_End_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1382},{256,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{256,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_End_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1664},{254,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{254,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_End_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1664},{254,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{254,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_End_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1382},{238,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{238,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_End_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,254},{230,280}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{230,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_End_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1946},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,139.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1100},{262,280}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{262,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,536},{262,280}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{262,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1664},{268,280}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1382},{268,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{272,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{272,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,818},{266,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{266,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1100},{268,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,536},{268,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,818},{268,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{268,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{272,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{272,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{250,280}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{250,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{280,280}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
            <key>Boss10_Skill1_Start_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c71334bbf97be13b3dfdb89a4664a131:1/1$</string>
            <key>textureFileName</key>
            <string>boss5.png</string>
        </dict>
    </dict>
</plist>
