<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_Zhuangbei_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,434},{108,42}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,80},{108,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,434},{110,70}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{110,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,238},{116,88}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{116,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,236},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{116,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{116,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,120},{118,114}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{118,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{120,120}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{120,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{116,120}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{114,118}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,328},{104,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>TX_Zhuangbei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,236},{90,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{90,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_merge.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f59afa84aa0896b49d1b7e9a0e2c421:1/1$</string>
            <key>textureFileName</key>
            <string>equip_merge.png</string>
        </dict>
    </dict>
</plist>
