<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Map_Bg_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2012,413},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Map_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,113}}</string>
                <key>sourceSize</key>
                <string>{750,113}</string>
            </dict>
            <key>Map_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,317},{191,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,43}}</string>
                <key>sourceSize</key>
                <string>{191,43}</string>
            </dict>
            <key>Map_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1855},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Map_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,367},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>Map_Chapter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,447},{618,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,487}}</string>
                <key>sourceSize</key>
                <string>{618,487}</string>
            </dict>
            <key>Map_Chapter_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,413},{566,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,325}}</string>
                <key>sourceSize</key>
                <string>{566,325}</string>
            </dict>
            <key>Map_Chapter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{593,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,409}}</string>
                <key>sourceSize</key>
                <string>{593,409}</string>
            </dict>
            <key>Map_Chapter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1432},{421,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,413}}</string>
                <key>sourceSize</key>
                <string>{421,413}</string>
            </dict>
            <key>Map_Chapter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1247},{262,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,311}}</string>
                <key>sourceSize</key>
                <string>{262,311}</string>
            </dict>
            <key>Map_Chapter_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1405},{348,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,288}}</string>
                <key>sourceSize</key>
                <string>{348,288}</string>
            </dict>
            <key>Map_Chapter_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,740},{506,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,302}}</string>
                <key>sourceSize</key>
                <string>{506,302}</string>
            </dict>
            <key>Map_Chapter_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1044},{414,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,267}}</string>
                <key>sourceSize</key>
                <string>{414,267}</string>
            </dict>
            <key>Map_Chapter_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{688,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,443}}</string>
                <key>sourceSize</key>
                <string>{688,443}</string>
            </dict>
            <key>Map_Chapter_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{628,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,419}}</string>
                <key>sourceSize</key>
                <string>{628,419}</string>
            </dict>
            <key>Map_Cloud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1044},{419,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,359}}</string>
                <key>sourceSize</key>
                <string>{419,359}</string>
            </dict>
            <key>Map_Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,538},{311,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,194}}</string>
                <key>sourceSize</key>
                <string>{311,194}</string>
            </dict>
            <key>Map_Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,936},{309,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,277}}</string>
                <key>sourceSize</key>
                <string>{309,277}</string>
            </dict>
            <key>Map_Flag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,117},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>Map_Flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,193},{87,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,122}}</string>
                <key>sourceSize</key>
                <string>{87,122}</string>
            </dict>
            <key>Map_Sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,317},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>Map_Window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1432},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,851},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
            <key>Map_Window_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,740},{491,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,147}}</string>
                <key>sourceSize</key>
                <string>{491,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigMap.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:207066cba647508ab6ccd348d2a814b7:1/1$</string>
            <key>textureFileName</key>
            <string>BigMap.png</string>
        </dict>
    </dict>
</plist>
