<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BuyGem_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,249},{650,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,181}}</string>
                <key>sourceSize</key>
                <string>{650,181}</string>
            </dict>
            <key>Card_Bg_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1624}}</string>
                <key>sourceSize</key>
                <string>{750,1624}</string>
            </dict>
            <key>Card_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,77},{717,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,170}}</string>
                <key>sourceSize</key>
                <string>{717,170}</string>
            </dict>
            <key>Card_Title_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,644},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Card_Title_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1628},{416,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,91}}</string>
                <key>sourceSize</key>
                <string>{416,91}</string>
            </dict>
            <key>Card_Title_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,644},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Card_Title_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1628},{416,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,91}}</string>
                <key>sourceSize</key>
                <string>{416,91}</string>
            </dict>
            <key>Card_Title_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,626},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Card_Title_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1628},{416,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,91}}</string>
                <key>sourceSize</key>
                <string>{416,91}</string>
            </dict>
            <key>Card_Title_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,534},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Card_Title_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1628},{416,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,91}}</string>
                <key>sourceSize</key>
                <string>{416,91}</string>
            </dict>
            <key>Card_Title_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,442},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Card_Title_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{416,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,91}}</string>
                <key>sourceSize</key>
                <string>{416,91}</string>
            </dict>
            <key>Shop_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{40,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,89}}</string>
                <key>sourceSize</key>
                <string>{40,89}</string>
            </dict>
            <key>Shop_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,234},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Shop_Bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,333},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>Shop_Bg_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1612},{613,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,349}}</string>
                <key>sourceSize</key>
                <string>{613,349}</string>
            </dict>
            <key>Shop_Bg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,997},{613,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,349}}</string>
                <key>sourceSize</key>
                <string>{613,349}</string>
            </dict>
            <key>Shop_Bg_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,380},{615,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,517}}</string>
                <key>sourceSize</key>
                <string>{615,517}</string>
            </dict>
            <key>Shop_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,432},{362,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,70}}</string>
                <key>sourceSize</key>
                <string>{362,70}</string>
            </dict>
            <key>Shop_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1612},{366,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,154}}</string>
                <key>sourceSize</key>
                <string>{366,154}</string>
            </dict>
            <key>Shop_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,93},{139,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,32}}</string>
                <key>sourceSize</key>
                <string>{139,32}</string>
            </dict>
            <key>Shop_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,249},{87,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,60}}</string>
                <key>sourceSize</key>
                <string>{87,60}</string>
            </dict>
            <key>Shop_Bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,311},{129,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,75}}</string>
                <key>sourceSize</key>
                <string>{129,75}</string>
            </dict>
            <key>Shop_Bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,2},{329,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,388}}</string>
                <key>sourceSize</key>
                <string>{329,388}</string>
            </dict>
            <key>Shop_Bg_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,432},{317,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,55}}</string>
                <key>sourceSize</key>
                <string>{317,55}</string>
            </dict>
            <key>Shop_Bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1628},{329,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,388}}</string>
                <key>sourceSize</key>
                <string>{329,388}</string>
            </dict>
            <key>Shop_Chest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1251},{202,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,168}}</string>
                <key>sourceSize</key>
                <string>{202,168}</string>
            </dict>
            <key>Shop_Discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Shop_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,984},{210,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,265}}</string>
                <key>sourceSize</key>
                <string>{210,265}</string>
            </dict>
            <key>Shop_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,772},{210,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,265}}</string>
                <key>sourceSize</key>
                <string>{210,265}</string>
            </dict>
            <key>Shop_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,432},{210,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,265}}</string>
                <key>sourceSize</key>
                <string>{210,265}</string>
            </dict>
            <key>Shop_Frame_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,772},{210,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,265}}</string>
                <key>sourceSize</key>
                <string>{210,265}</string>
            </dict>
            <key>Shop_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,489},{281,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,306}}</string>
                <key>sourceSize</key>
                <string>{281,306}</string>
            </dict>
            <key>Shop_Icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2018},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Shop_Icon_Coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,201},{98,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,85}</string>
            </dict>
            <key>Shop_Icon_Coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,112},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>Shop_Icon_Coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,288},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Shop_Icon_Gem_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1048},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Gem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1251},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Gem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1455},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Gem_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1455},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Gem_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,910},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Gem_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,772},{161,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,136}}</string>
                <key>sourceSize</key>
                <string>{161,136}</string>
            </dict>
            <key>Shop_Icon_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,718},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>Shop_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1980},{268,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,49}}</string>
                <key>sourceSize</key>
                <string>{268,49}</string>
            </dict>
            <key>Shop_Title_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{741,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,73}}</string>
                <key>sourceSize</key>
                <string>{741,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff7d29cdeaef7684cfbad745a5a04a04:1/1$</string>
            <key>textureFileName</key>
            <string>shop_ui.png</string>
        </dict>
    </dict>
</plist>
