<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hatch_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>Hatch_Bg_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Hatch_Bg_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Hatch_Bg_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Hatch_Btn_Tab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Hatch_Btn_Tab_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Hatch_Btn_Tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Hatch_Btn_Tab_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>take_egg_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a633bbf4cfcc11faa563a1cee048554:1/1$</string>
            <key>textureFileName</key>
            <string>take_egg_ui.png</string>
        </dict>
    </dict>
</plist>
