<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,158},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>Btn_google.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,102},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>Set_JDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,486},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>Set_JDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,216},{35,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,14}}</string>
                <key>sourceSize</key>
                <string>{35,14}</string>
            </dict>
            <key>Set_JDT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,676},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Set_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,624},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Set_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,624},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Set_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,464},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>Set_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,3}}</string>
                <key>sourceSize</key>
                <string>{502,3}</string>
            </dict>
            <key>Set_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,449},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Set_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,578},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{43,55}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,619},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{49,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,469},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{49,57}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,521},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{47,59}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,246},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{55,41}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,600},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>Set_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,570},{51,51}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{51,51}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Set_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,670},{47,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{47,45}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Setting_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,214},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>Setting_Bar_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,283},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>Setting_Bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,675},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>Setting_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,409},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Setting_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,303},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Setting_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,566},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Setting_Btn_Edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,204},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>Setting_Btn_FB.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,158},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>Setting_Btn_GG.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>Setting_Checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,532},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>Setting_Checkmark_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,623},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Setting_Head_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Setting_Head_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,83},{128,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,119}}</string>
                <key>sourceSize</key>
                <string>{128,119}</string>
            </dict>
            <key>Setting_Head_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,83},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>Setting_Head_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Setting_Head_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,214},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>Setting_Music_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,630},{44,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>Setting_Music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,623},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>Setting_Sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,303},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Setting_Sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,354},{47,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,45}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>TX_DaGou.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,198},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,623},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,403},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>TY_Btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,321},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_GDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,253},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>TY_GDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,508},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>TY_TCBG_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,520},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TY_TCBG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{253,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,93}}</string>
                <key>sourceSize</key>
                <string>{253,93}</string>
            </dict>
            <key>TY_TCBG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,7},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>TY_TCBG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,253},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>TY_TCBG_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,204},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TY_TCBG_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TY_TCBG_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,201},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>TY_TCBG_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,345},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>TY_TX_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,537},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,548},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,548},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,466},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,466},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,455},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,373},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,384},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,302},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,384},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,302},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_TX_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,291},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>TY_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,198},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>TY_icon_dagou.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,387},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4de2480e19acb0b02dab9b83e954be6:1/1$</string>
            <key>textureFileName</key>
            <string>setting_ui.png</string>
        </dict>
    </dict>
</plist>
