<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZhenDe_Attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1596},{44,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>ZhenDe_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1968},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{70,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1948},{92,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{92,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,700},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{134,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,154},{142,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,548},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,840},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1002},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1384},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{144,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1864},{114,82}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{114,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,466},{116,80}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{116,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,240},{114,60}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{114,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_AttackHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,264},{114,56}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{114,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,324},{70,22}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,117},{70,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1596},{102,36}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,103},{102,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,264},{122,52}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,94},{122,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1968},{138,72}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,78},{138,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1948},{150,90}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1748},{150,108}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,700},{150,126}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1450},{150,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1232},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1596},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,154},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,606},{150,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1298},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,314},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,850},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,850},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,264},{58,80}}</string>
                <key>offset</key>
                <string>{27,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1968},{58,76}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1948},{52,58}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Passive_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,324},{22,22}}</string>
                <key>offset</key>
                <string>{31,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,32},{22,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,354}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{158,354}}</string>
                <key>sourceSize</key>
                <string>{164,356}</string>
            </dict>
            <key>ZhenDe_Skill1_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1232},{84,64}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,88},{84,64}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,732},{142,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{142,106}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,558},{158,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,81},{158,118}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,558},{172,128}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,85},{172,128}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,840},{228,160}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,63},{228,160}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,588},{260,190}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,49},{260,190}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1002},{298,224}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{298,224}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{320,246}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{320,246}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{320,268}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{320,268}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{320,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,272}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1302},{292,272}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{292,272}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{320,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,272}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{320,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,272}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{320,268}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{320,268}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,324},{262,218}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{262,218}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{260,222}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{260,222}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,588},{250,220}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{250,220}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{236,220}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,14},{236,220}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1002},{228,214}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,9},{228,214}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,318},{238,160}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{238,160}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{240,166}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,63},{240,166}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,324},{248,170}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,60},{248,170}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1864},{258,178}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{258,178}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1596},{266,172}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,65},{266,172}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,244},{176,68}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,93},{176,68}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>ZhenDe_Skill1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1646},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>ZhenDe_Skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1448},{144,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1748},{142,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{148,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1306},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,838},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1296},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,828},{142,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,992},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,302},{144,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,990},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,454},{148,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,302},{146,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1154},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1144},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1762},{142,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1840},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,454},{144,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1610},{142,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,302},{148,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1688},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,154},{146,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1598},{142,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{142,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1458},{142,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZhenDe_Skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1536},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhen_de.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d01c5dc1080d9e10a2dccd4968bdc4:1/1$</string>
            <key>textureFileName</key>
            <string>zhen_de.png</string>
        </dict>
    </dict>
</plist>
