<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LCB_JDT_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,7},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>LCB_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,66}}</string>
                <key>sourceSize</key>
                <string>{43,66}</string>
            </dict>
            <key>LCB_bg_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{215,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,121}}</string>
                <key>sourceSize</key>
                <string>{215,121}</string>
            </dict>
            <key>LCB_clock_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,210},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>LCB_clock_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,7},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>LCB_frame_Hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,273},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>LCB_frame_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,230},{141,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,100}}</string>
                <key>sourceSize</key>
                <string>{141,100}</string>
            </dict>
            <key>LCB_frame_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,130},{141,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,100}}</string>
                <key>sourceSize</key>
                <string>{141,100}</string>
            </dict>
            <key>LCB_icon_ADS_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,174},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>LCB_icon_ADS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,138},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>LCB_icon_ZhanLi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,472},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,414},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,250},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_FenGeXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,3}}</string>
                <key>sourceSize</key>
                <string>{454,3}</string>
            </dict>
            <key>TY_JDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>TY_JDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,225},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>TY_JieDian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,189},{152,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{152,39}</string>
            </dict>
            <key>TY_JieDian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,130},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>TY_TCBG_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,414},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>TY_TCBG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{253,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,93}}</string>
                <key>sourceSize</key>
                <string>{253,93}</string>
            </dict>
            <key>TY_TCBG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,54},{244,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,74}}</string>
                <key>sourceSize</key>
                <string>{244,74}</string>
            </dict>
            <key>TY_TCBG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>TY_chest_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,250},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>TY_icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>TY_icon_dagou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>Top_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,102},{34,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Top_icon_zuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,472},{38,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>milestone_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d46b30abc4999cadfd9764d25b0a299:1/1$</string>
            <key>textureFileName</key>
            <string>milestone_ui.png</string>
        </dict>
    </dict>
</plist>
