<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BB_Jiaobiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,314},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BB_Jiaobiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,314},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BB_Jiaobiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,353},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BB_Jiaobiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,320},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BB_Jiaobiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,304},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BB_Jiaobiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,287},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>HC_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,245},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HC_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,164},{40,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,2}}</string>
                <key>sourceSize</key>
                <string>{40,2}</string>
            </dict>
            <key>equip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,245},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,69}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>equip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{71,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{71,51}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>equip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,245},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,57}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>icon_ZB_star_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{15,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,64}}</string>
                <key>sourceSize</key>
                <string>{15,64}</string>
            </dict>
            <key>icon_ZB_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,287},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>quality1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>quality2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>quality3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,83},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>quality4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>quality5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>quality6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,337},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,330},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,304},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>typeB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,164},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>typeB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,164},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>typeB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,83},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipment.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31184b7bc9a4bbf798c1596e4b653a29:1/1$</string>
            <key>textureFileName</key>
            <string>equipment.png</string>
        </dict>
    </dict>
</plist>
