<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spirit20_ActiveSkillHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,818},{38,56}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,818},{38,56}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{90,88}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{90,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,922},{122,122}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{122,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,656},{146,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{148,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,630},{140,140}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,756},{122,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{122,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,630},{124,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{124,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,772},{122,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,990},{82,82}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1214},{80,80}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkillHit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,536},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Spirit20_ActiveSkill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1402},{54,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1178},{56,86}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1158},{56,90}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1444},{58,92}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1368},{58,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1344},{56,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1344},{56,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1358},{56,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1308},{58,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_ActiveSkill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1298},{58,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,514},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,424},{150,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,628},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,512},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,512},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,274},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,624},{148,118}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{148,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{136,118}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{136,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,802},{136,118}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{136,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,870},{134,118}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{134,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,990},{120,118}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{120,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1010},{120,116}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{120,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,994},{120,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{120,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1102},{116,102}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{116,102}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1206},{114,100}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{114,100}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1112},{104,100}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{104,100}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-End_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1214},{102,90}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{102,90}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,610},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{150,110}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,510},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,394},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,396},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,304},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,536},{148,118}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{148,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,276},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,274},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,154},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,154},{150,118}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,394},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,458},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill-Loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,306},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,746},{46,70}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,59},{46,70}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1296},{62,76}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,53},{62,76}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1222},{74,100}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{74,100}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1074},{80,102}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{80,102}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1128},{94,104}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{94,104}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1236},{106,110}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{106,110}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,762},{108,112}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{108,112}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1110},{110,114}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{110,114}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,990},{110,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{110,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1106},{112,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{112,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,876},{112,122}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,992},{112,122}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,896},{112,122}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,880},{112,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{112,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1046},{110,122}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{110,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{110,122}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{110,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{118,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,868},{130,122}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{130,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,746},{134,122}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{134,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,744},{136,122}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{136,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{146,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{146,122}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{150,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,154},{150,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,392},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,274},{150,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,154},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>Spirit20_SupportSkill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{150,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet20.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:604b841d2203dc567726ba482ea0d321:1/1$</string>
            <key>textureFileName</key>
            <string>pet20.png</string>
        </dict>
    </dict>
</plist>
