<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Maze_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,507},{104,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,123}}</string>
                <key>sourceSize</key>
                <string>{104,123}</string>
            </dict>
            <key>Maze_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,401},{167,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,258}}</string>
                <key>sourceSize</key>
                <string>{167,258}</string>
            </dict>
            <key>Maze_Bg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,232},{167,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,258}}</string>
                <key>sourceSize</key>
                <string>{167,258}</string>
            </dict>
            <key>Maze_Bg_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,858},{171,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,141}}</string>
                <key>sourceSize</key>
                <string>{171,141}</string>
            </dict>
            <key>Maze_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{640,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,114}}</string>
                <key>sourceSize</key>
                <string>{640,114}</string>
            </dict>
            <key>Maze_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>Maze_Bg_ZhanLi.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,570},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
            <key>Maze_Btn_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1103},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Maze_Btn_Repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1023},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Maze_Btn_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,106},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Maze_Btn_WallHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1017},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Maze_Buff_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{224,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,487}}</string>
                <key>sourceSize</key>
                <string>{224,487}</string>
            </dict>
            <key>Maze_Buff_Bg_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,632},{224,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,487}}</string>
                <key>sourceSize</key>
                <string>{224,487}</string>
            </dict>
            <key>Maze_Buff_Bg_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{235,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,501}}</string>
                <key>sourceSize</key>
                <string>{235,501}</string>
            </dict>
            <key>Maze_Buff_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,858},{157,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,164}}</string>
                <key>sourceSize</key>
                <string>{157,164}</string>
            </dict>
            <key>Maze_Buff_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,923},{149,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,157}}</string>
                <key>sourceSize</key>
                <string>{149,157}</string>
            </dict>
            <key>Maze_Buff_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1001},{151,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,139}}</string>
                <key>sourceSize</key>
                <string>{151,139}</string>
            </dict>
            <key>Maze_Buff_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{138,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,158}}</string>
                <key>sourceSize</key>
                <string>{138,158}</string>
            </dict>
            <key>Maze_Buff_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1074},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>Maze_Buff_Icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,858},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>Maze_Buff_Icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{114,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,156}}</string>
                <key>sourceSize</key>
                <string>{114,156}</string>
            </dict>
            <key>Maze_Buff_Icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,460},{135,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,141}}</string>
                <key>sourceSize</key>
                <string>{135,141}</string>
            </dict>
            <key>Maze_Buff_Icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,923},{140,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>Maze_Buff_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,940}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,940}}</string>
                <key>sourceSize</key>
                <string>{228,940}</string>
            </dict>
            <key>Maze_Checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,24},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>Maze_HPbar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{78,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,20}}</string>
                <key>sourceSize</key>
                <string>{78,20}</string>
            </dict>
            <key>Maze_HPbar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,90},{72,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,14}}</string>
                <key>sourceSize</key>
                <string>{72,14}</string>
            </dict>
            <key>Maze_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{118,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,127}}</string>
                <key>sourceSize</key>
                <string>{118,127}</string>
            </dict>
            <key>Maze_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,295},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>Maze_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1199},{116,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,123}}</string>
                <key>sourceSize</key>
                <string>{116,123}</string>
            </dict>
            <key>Maze_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>Maze_Icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,406},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>Maze_Icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1017},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>Maze_Icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1065},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>Maze_Icon_Repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,270},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>Maze_Line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,90},{640,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,3}}</string>
                <key>sourceSize</key>
                <string>{640,3}</string>
            </dict>
            <key>Maze_Quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,570},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Maze_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,570},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Maze_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,232},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Maze_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,174},{119,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,57}}</string>
                <key>sourceSize</key>
                <string>{119,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maze_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8505f7f6287ed43cdb42c2f0a685220:1/1$</string>
            <key>textureFileName</key>
            <string>maze_ui.png</string>
        </dict>
    </dict>
</plist>
