<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JSTC_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,457},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>JSTC_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,397},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>JSTC_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{303,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,58}}</string>
                <key>sourceSize</key>
                <string>{303,58}</string>
            </dict>
            <key>JSTC_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,187},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>JSTC_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,246},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>JSTC_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{171,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,35}}</string>
                <key>sourceSize</key>
                <string>{171,35}</string>
            </dict>
            <key>JSTC_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{115,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,67}}</string>
                <key>sourceSize</key>
                <string>{115,67}</string>
            </dict>
            <key>JSTC_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,153},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>JSTC_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,119},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>JSTC_bg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{242,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,45}}</string>
                <key>sourceSize</key>
                <string>{242,45}</string>
            </dict>
            <key>JSTC_bg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,119},{113,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,37}}</string>
                <key>sourceSize</key>
                <string>{113,37}</string>
            </dict>
            <key>JSTC_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,307},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>JSTC_icon_DaCha.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,457},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>JSTC_icon_DaGou.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,358},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>TY_GDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,439},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>TY_GDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,307},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>TY_TCBG_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,307},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TY_icon_Zuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>ZDL_TiSheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,395},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>ZDL_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,72}}</string>
                <key>sourceSize</key>
                <string>{299,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_dialog.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1fefc3904a8e3ee6260687abc0bd5b0:1/1$</string>
            <key>textureFileName</key>
            <string>role_dialog.png</string>
        </dict>
    </dict>
</plist>
