<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss13_AttackHit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,378},{54,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,84},{54,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,782},{110,82}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,63},{110,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,534},{142,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{142,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,550},{160,140}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{160,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,370},{178,162}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{192,172}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{192,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{194,170}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{194,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,368},{190,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{190,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,196},{186,156}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{186,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_AttackHit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,354},{182,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{182,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Boss13_Attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,782},{94,112}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{94,112}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,512},{92,112}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{92,112}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,882},{80,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{80,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,652},{82,116}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{82,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,746},{80,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{80,120}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{84,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{84,124}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,692},{88,128}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,128}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,626},{90,118}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{90,118}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2Hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,770},{116,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{116,110}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,512},{150,160}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{150,160}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,538},{174,168}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{174,168}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,190},{202,176}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{202,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{210,180}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{210,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,186}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{212,186}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,190}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{212,190}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,184},{202,192}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{202,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{206,192}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{206,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{190,188}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{190,188}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,196},{172,182}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{172,182}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{174,166}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{174,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2Hit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,378},{174,170}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{174,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Boss13_Skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,882},{100,112}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,882},{100,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,882},{100,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{100,116}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,652},{100,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,708},{100,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,664},{100,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>Boss13_Skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,754},{100,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb7fc09c208f84e65c360d858d8f280f:1/1$</string>
            <key>textureFileName</key>
            <string>boss8.png</string>
        </dict>
    </dict>
</plist>
