<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop_Banner_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{640,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,374}}</string>
                <key>sourceSize</key>
                <string>{640,374}</string>
            </dict>
            <key>Shop_Banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,129},{341,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,37}}</string>
                <key>sourceSize</key>
                <string>{341,37}</string>
            </dict>
            <key>Shop_Banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,90}}</string>
                <key>sourceSize</key>
                <string>{398,90}</string>
            </dict>
            <key>Shop_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,43},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Shop_Bg_SoldOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>Shop_Btn_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,43},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Shop_Btn_Refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Shop_Shelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,129},{610,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,78}}</string>
                <key>sourceSize</key>
                <string>{610,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_mall_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d116b9b3644b3f3c90252c3c7149388:1/1$</string>
            <key>textureFileName</key>
            <string>gold_mall_ui.png</string>
        </dict>
    </dict>
</plist>
