<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ranking_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,55},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Ranking_Bg_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{547,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,106}}</string>
                <key>sourceSize</key>
                <string>{547,106}</string>
            </dict>
            <key>Ranking_Bg_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,723},{547,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,106}}</string>
                <key>sourceSize</key>
                <string>{547,106}</string>
            </dict>
            <key>Ranking_Bg_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,174},{547,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,107}}</string>
                <key>sourceSize</key>
                <string>{547,107}</string>
            </dict>
            <key>Ranking_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{547,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,106}}</string>
                <key>sourceSize</key>
                <string>{547,106}</string>
            </dict>
            <key>Ranking_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{564,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,108}}</string>
                <key>sourceSize</key>
                <string>{564,108}</string>
            </dict>
            <key>Ranking_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
            <key>Ranking_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RankingList.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3026a328f2dda18486df27bcf51a46b1:1/1$</string>
            <key>textureFileName</key>
            <string>RankingList.png</string>
        </dict>
    </dict>
</plist>
