<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiTu_BiaoZhi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,998},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>DiTu_BiaoZhi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>DiTu_BiaoZhi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,940},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>DiTu_BiaoZhi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,972},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>DiTu_BiaoZhi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,940},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>DiTu_BiaoZhi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,836},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>DiTu_BiaoZhi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,962},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>DiTu_BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,967},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>DiTu_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,836},{134,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,65}}</string>
                <key>sourceSize</key>
                <string>{134,65}</string>
            </dict>
            <key>DiTu_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,836},{134,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,65}}</string>
                <key>sourceSize</key>
                <string>{134,65}</string>
            </dict>
            <key>DiTu_Frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>DiTu_Icon_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,990},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>DiTu_Icon_TiLi.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,909},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>DiTu_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,836},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>DiTu_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,832}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,832}}</string>
                <key>sourceSize</key>
                <string>{640,832}</string>
            </dict>
            <key>DiTu_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,972},{50,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,109}}</string>
                <key>sourceSize</key>
                <string>{50,109}</string>
            </dict>
            <key>DiTu_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,959},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>DiTu_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,836},{102,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,81}}</string>
                <key>sourceSize</key>
                <string>{102,81}</string>
            </dict>
            <key>DiTu_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,950},{200,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,38}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,909},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32738ee1dfaf14598a09f49dcd7b87fb:1/1$</string>
            <key>textureFileName</key>
            <string>map_ui.png</string>
        </dict>
    </dict>
</plist>
