<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiTu_BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,649},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>DiTu_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,854},{50,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,109}}</string>
                <key>sourceSize</key>
                <string>{50,109}</string>
            </dict>
            <key>Dungeon_Banner_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{575,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,305}}</string>
                <key>sourceSize</key>
                <string>{575,305}</string>
            </dict>
            <key>Dungeon_Banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,765},{575,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,305}}</string>
                <key>sourceSize</key>
                <string>{575,305}</string>
            </dict>
            <key>Dungeon_Banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{575,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,305}}</string>
                <key>sourceSize</key>
                <string>{575,305}</string>
            </dict>
            <key>Dungeon_Banner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,713},{575,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,305}}</string>
                <key>sourceSize</key>
                <string>{575,305}</string>
            </dict>
            <key>Dungeon_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,123},{588,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,321}}</string>
                <key>sourceSize</key>
                <string>{588,321}</string>
            </dict>
            <key>Dungeon_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,841},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Dungeon_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,906},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>Dungeon_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,55},{350,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,66}}</string>
                <key>sourceSize</key>
                <string>{350,66}</string>
            </dict>
            <key>Dungeon_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,841},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Dungeon_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,615},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Dungeon_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,581},{137,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,41}}</string>
                <key>sourceSize</key>
                <string>{137,41}</string>
            </dict>
            <key>Dungeon_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,742},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Dungeon_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,536},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>Dungeon_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,841},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Dungeon_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,841},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Dungeon_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1026},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Dungeon_Icon_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,222},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>Dungeon_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,2},{357,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,51}}</string>
                <key>sourceSize</key>
                <string>{357,51}</string>
            </dict>
            <key>Raid_Banner_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,188},{608,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,249}}</string>
                <key>sourceSize</key>
                <string>{608,249}</string>
            </dict>
            <key>Raid_Banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{717,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,265}}</string>
                <key>sourceSize</key>
                <string>{717,265}</string>
            </dict>
            <key>Raid_Banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,269},{717,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,265}}</string>
                <key>sourceSize</key>
                <string>{717,265}</string>
            </dict>
            <key>Raid_Banner_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,536},{576,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,227}}</string>
                <key>sourceSize</key>
                <string>{576,227}</string>
            </dict>
            <key>Raid_Banner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{717,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,265}}</string>
                <key>sourceSize</key>
                <string>{717,265}</string>
            </dict>
            <key>Raid_Banner_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{717,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,265}}</string>
                <key>sourceSize</key>
                <string>{717,265}</string>
            </dict>
            <key>Raid_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,90}}</string>
                <key>sourceSize</key>
                <string>{750,90}</string>
            </dict>
            <key>Raid_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,798},{254,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,41}}</string>
                <key>sourceSize</key>
                <string>{254,41}</string>
            </dict>
            <key>Raid_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,94},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>Raid_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,258},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Raid_Btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,795},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>Raid_Btn_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1067},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Raid_Btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,704},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>Raid_Btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1006},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Raid_Btn_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,940},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Raid_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,258},{24,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,3}}</string>
                <key>sourceSize</key>
                <string>{24,3}</string>
            </dict>
            <key>Raid_Time.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,286},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>SD_Chest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,628},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>SD_Chest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,741},{124,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,111}}</string>
                <key>sourceSize</key>
                <string>{124,111}</string>
            </dict>
            <key>SD_Chest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,624},{124,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,115}}</string>
                <key>sourceSize</key>
                <string>{124,115}</string>
            </dict>
            <key>SD_Chest_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{212,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,184}}</string>
                <key>sourceSize</key>
                <string>{212,184}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1094},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,1071},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,854},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>TY_icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1042},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Top_BG_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,313},{10,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,119}}</string>
                <key>sourceSize</key>
                <string>{10,119}</string>
            </dict>
            <key>WuJin_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,854},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>WuJin_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,841},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>WuJin_JDT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,123},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>WuJin_JDT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,581},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZJM_bonus_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1019},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>ZJM_bonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,990},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>ZJM_bonus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,967},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>ZJM_bonus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,938},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>ZJM_bonus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,915},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>ZJM_bonus_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,886},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592d5b67d91e237491177723b97c76d5:1/1$</string>
            <key>textureFileName</key>
            <string>activity_ui.png</string>
        </dict>
    </dict>
</plist>
