<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fx_LevelUp_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,472},{168,22}}</string>
                <key>offset</key>
                <string>{-2,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,273},{168,22}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,884},{198,30}}</string>
                <key>offset</key>
                <string>{-2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,265},{198,30}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{224,40}}</string>
                <key>offset</key>
                <string>{-2,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,255},{224,40}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,648},{224,52}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,244},{224,52}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,924},{230,58}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,238},{230,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{242,60}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,237},{242,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,944},{240,60}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,237},{240,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,956},{240,60}}</string>
                <key>offset</key>
                <string>{-2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,236},{240,60}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,412},{236,58}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,238},{236,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,352},{236,58}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,238},{236,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,472},{234,58}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,238},{234,58}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,648},{234,56}}</string>
                <key>offset</key>
                <string>{-2,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,240},{234,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,590},{234,56}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,239},{234,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,532},{234,56}}</string>
                <key>offset</key>
                <string>{-2,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,239},{234,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{56,172}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,140},{56,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{180,254}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{180,254}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{186,308}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{186,308}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,320},{184,314}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{184,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{164,316}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{164,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,638},{162,316}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{162,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{170,316}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{170,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,316}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{206,316}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,312},{204,306}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{204,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,636},{204,306}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{204,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{202,304}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{202,304}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,620},{200,302}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{200,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,308},{196,300}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{196,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,648},{166,230}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,54},{166,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Fx_LevelUp_F_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,184},{166,240}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,44},{166,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_upgrade.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d8eb4e06ae2b8d7f8b45826577ec81:1/1$</string>
            <key>textureFileName</key>
            <string>role_upgrade.png</string>
        </dict>
    </dict>
</plist>
