<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>City_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1122}}</string>
                <key>sourceSize</key>
                <string>{640,1122}</string>
            </dict>
            <key>City_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{640,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,497}}</string>
                <key>sourceSize</key>
                <string>{640,497}</string>
            </dict>
            <key>City_Build_Blacksmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,937},{199,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,209}}</string>
                <key>sourceSize</key>
                <string>{199,209}</string>
            </dict>
            <key>City_Build_DragonNest.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,768},{156,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,181}}</string>
                <key>sourceSize</key>
                <string>{156,181}</string>
            </dict>
            <key>City_Build_Sanctuary.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,369},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>City_Build_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{259,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,225}}</string>
                <key>sourceSize</key>
                <string>{259,225}</string>
            </dict>
            <key>City_Build_TreviFountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,768},{167,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,214}}</string>
                <key>sourceSize</key>
                <string>{167,214}</string>
            </dict>
            <key>City_Cloud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{137,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,100}}</string>
                <key>sourceSize</key>
                <string>{137,100}</string>
            </dict>
            <key>City_Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,141},{176,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,94}}</string>
                <key>sourceSize</key>
                <string>{176,94}</string>
            </dict>
            <key>City_Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,229},{238,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,137}}</string>
                <key>sourceSize</key>
                <string>{238,137}</string>
            </dict>
            <key>City_Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{398,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,222}}</string>
                <key>sourceSize</key>
                <string>{398,222}</string>
            </dict>
            <key>City_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,319},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>City_Name_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,523},{164,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,33}}</string>
                <key>sourceSize</key>
                <string>{164,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a4f55b970c3773c4e15893319b45da:1/1$</string>
            <key>textureFileName</key>
            <string>city_ui.png</string>
        </dict>
    </dict>
</plist>
