<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,830},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>Btn_MpHuiFu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,896},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>Btn_MpHuiFu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,975},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>Btn_MpHuiFu_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>Common_Btn_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,853},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>END_Btn_Next.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,716},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>END_Btn_Replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1099},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>END_JDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,338},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>END_JDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,338},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>END_JDT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,348},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>FH_icon_repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,604},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>FH_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,604},{452,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,217}}</string>
                <key>sourceSize</key>
                <string>{452,217}</string>
            </dict>
            <key>FH_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{490,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,244}}</string>
                <key>sourceSize</key>
                <string>{490,244}</string>
            </dict>
            <key>GWTJ_DiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,823},{123,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,94}}</string>
                <key>sourceSize</key>
                <string>{123,94}</string>
            </dict>
            <key>Game_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,323},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>Game_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1144},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>Game_Btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,439},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>Game_Btn_speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,764},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>Game_Btn_speed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,323},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>Game_HP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,269},{287,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,33}}</string>
                <key>sourceSize</key>
                <string>{287,33}</string>
            </dict>
            <key>Game_HP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,234},{287,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,33}}</string>
                <key>sourceSize</key>
                <string>{287,33}</string>
            </dict>
            <key>Game_HP_MP.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,756},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Game_JianTou_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,395},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>Game_JianTou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,810},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>Game_MP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,199},{287,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,33}}</string>
                <key>sourceSize</key>
                <string>{287,33}</string>
            </dict>
            <key>Game_SP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,321},{286,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,15}}</string>
                <key>sourceSize</key>
                <string>{286,15}</string>
            </dict>
            <key>Game_SP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,304},{286,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,15}}</string>
                <key>sourceSize</key>
                <string>{286,15}</string>
            </dict>
            <key>Game_Skill_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1105},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1043},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1002},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1135},{109,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1029},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,999},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,896},{111,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,104}}</string>
                <key>sourceSize</key>
                <string>{111,104}</string>
            </dict>
            <key>Game_Skill_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1106},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Game_Skill_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,917},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Game_Skill_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>Game_Skill_Frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1198},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>Game_Top_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,101}}</string>
                <key>sourceSize</key>
                <string>{640,101}</string>
            </dict>
            <key>Game_Top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1009},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Game_Top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,439},{10,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,27}}</string>
                <key>sourceSize</key>
                <string>{10,27}</string>
            </dict>
            <key>Game_Top_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,764},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>Game_Top_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,349},{434,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,24}}</string>
                <key>sourceSize</key>
                <string>{434,24}</string>
            </dict>
            <key>Game_Top_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,375},{428,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,18}}</string>
                <key>sourceSize</key>
                <string>{428,18}</string>
            </dict>
            <key>Game_Upgrade_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,563},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>Game_Upgrade_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,512},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>Game_Upgrade_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,461},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>Game_Upgrade_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,805},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>Game_Upgrade_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,719},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Game_Upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{78,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,248}}</string>
                <key>sourceSize</key>
                <string>{78,248}</string>
            </dict>
            <key>Game_boss_BY.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,823},{69,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,150}}</string>
                <key>sourceSize</key>
                <string>{69,150}</string>
            </dict>
            <key>Game_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,894},{103,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,126}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>Game_cancel_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{640,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,62}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
            <key>Game_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,906},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>Game_icon_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,234},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>Game_icon_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,844},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>Game_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,682},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Game_icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,645},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Game_skill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1039},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>Game_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,348},{71,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,19}}</string>
                <key>sourceSize</key>
                <string>{71,19}</string>
            </dict>
            <key>Game_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,825},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Game_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,369},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Game_wallHP_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,395},{14,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,63}}</string>
                <key>sourceSize</key>
                <string>{14,63}</string>
            </dict>
            <key>Game_wallHP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,304},{6,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,63}}</string>
                <key>sourceSize</key>
                <string>{6,63}</string>
            </dict>
            <key>Game_wallHP_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,395},{14,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,63}}</string>
                <key>sourceSize</key>
                <string>{14,63}</string>
            </dict>
            <key>Game_warning_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{477,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,165}}</string>
                <key>sourceSize</key>
                <string>{477,165}</string>
            </dict>
            <key>Game_warning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,461},{478,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,141}}</string>
                <key>sourceSize</key>
                <string>{478,141}</string>
            </dict>
            <key>Game_warning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,902},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>Icon_SkillAtivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,906},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>JNJL_JianTou_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,876},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>JNJL_JianTou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,439},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>JNJL_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{115,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,273}}</string>
                <key>sourceSize</key>
                <string>{115,273}</string>
            </dict>
            <key>JNJL_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,62},{135,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,293}}</string>
                <key>sourceSize</key>
                <string>{135,293}</string>
            </dict>
            <key>JNJL_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{553,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,63}}</string>
                <key>sourceSize</key>
                <string>{553,63}</string>
            </dict>
            <key>JNJL_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,395},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>JNJL_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,919},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>JSTC_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{303,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,58}}</string>
                <key>sourceSize</key>
                <string>{303,58}</string>
            </dict>
            <key>JSTC_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,395},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>JSTC_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,395},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pause_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,290},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>Pause_Btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,257},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>Pause_Btn_Home.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,813},{186,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,81}}</string>
                <key>sourceSize</key>
                <string>{186,81}</string>
            </dict>
            <key>Pause_Btn_Home_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,730},{186,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,81}}</string>
                <key>sourceSize</key>
                <string>{186,81}</string>
            </dict>
            <key>Pause_Btn_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,647},{186,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,81}}</string>
                <key>sourceSize</key>
                <string>{186,81}</string>
            </dict>
            <key>Pause_Btn_Play_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,160},{186,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,81}}</string>
                <key>sourceSize</key>
                <string>{186,81}</string>
            </dict>
            <key>Pause_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1159},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Pause_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1159},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>Pause_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,970},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Pause_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,199},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,4}</string>
            </dict>
            <key>Pause_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,288},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1049},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,999},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,949},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,614},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,395},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_TCBG_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,169},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TY_icon_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,664},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>TY_icon_Zuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,823},{133,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,81}}</string>
                <key>sourceSize</key>
                <string>{133,81}</string>
            </dict>
            <key>TY_icon_coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,79},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>TY_icon_coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{213,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,204}}</string>
                <key>sourceSize</key>
                <string>{213,204}</string>
            </dict>
            <key>ZJM_icon_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,791},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_in.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e46279231790230480096559123bf35:1/1$</string>
            <key>textureFileName</key>
            <string>game_in.png</string>
        </dict>
    </dict>
</plist>
