<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ASSET FRONT V3 MAGMA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,779},{216,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,144}}</string>
                <key>sourceSize</key>
                <string>{216,144}</string>
            </dict>
            <key>Card_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,1160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,1160}}</string>
                <key>sourceSize</key>
                <string>{280,1160}</string>
            </dict>
            <key>Card_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,618},{224,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,399}}</string>
                <key>sourceSize</key>
                <string>{224,399}</string>
            </dict>
            <key>Card_Bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{266,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,289}}</string>
                <key>sourceSize</key>
                <string>{266,289}</string>
            </dict>
            <key>Card_Bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1806},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>Card_Bg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2040},{211,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,3}}</string>
                <key>sourceSize</key>
                <string>{211,3}</string>
            </dict>
            <key>Card_Bg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1481},{262,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,41}}</string>
                <key>sourceSize</key>
                <string>{262,41}</string>
            </dict>
            <key>Card_Bg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,298},{210,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,51}}</string>
                <key>sourceSize</key>
                <string>{210,51}</string>
            </dict>
            <key>Card_Bg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1327},{183,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,39}}</string>
                <key>sourceSize</key>
                <string>{183,39}</string>
            </dict>
            <key>Card_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2040},{211,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,3}}</string>
                <key>sourceSize</key>
                <string>{211,3}</string>
            </dict>
            <key>Card_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1481},{262,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,40}}</string>
                <key>sourceSize</key>
                <string>{262,40}</string>
            </dict>
            <key>Card_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,298},{210,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,51}}</string>
                <key>sourceSize</key>
                <string>{210,51}</string>
            </dict>
            <key>Card_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1286},{183,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,39}}</string>
                <key>sourceSize</key>
                <string>{183,39}</string>
            </dict>
            <key>Card_Bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,489},{264,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,289}}</string>
                <key>sourceSize</key>
                <string>{264,289}</string>
            </dict>
            <key>Card_Bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1804},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>Card_Bg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,1160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,1160}}</string>
                <key>sourceSize</key>
                <string>{280,1160}</string>
            </dict>
            <key>Card_Bg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,780},{222,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,399}}</string>
                <key>sourceSize</key>
                <string>{222,399}</string>
            </dict>
            <key>Card_Bg_TitleBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1162},{640,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,212}}</string>
                <key>sourceSize</key>
                <string>{640,212}</string>
            </dict>
            <key>Card_Bg_Title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1908},{640,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,135}}</string>
                <key>sourceSize</key>
                <string>{640,135}</string>
            </dict>
            <key>Card_Btn_Purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,298},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
            <key>Card_Btn_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1286},{146,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>Card_Btn_Unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1286},{146,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>Card_Btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,354},{135,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,55}}</string>
                <key>sourceSize</key>
                <string>{135,55}</string>
            </dict>
            <key>Card_Icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1806},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>Card_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1916},{228,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,126}}</string>
                <key>sourceSize</key>
                <string>{228,126}</string>
            </dict>
            <key>Card_Icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{228,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,126}}</string>
                <key>sourceSize</key>
                <string>{228,126}</string>
            </dict>
            <key>Card_Icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1806},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>Card_Icon_MonthlyCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1019},{141,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,191}}</string>
                <key>sourceSize</key>
                <string>{141,191}</string>
            </dict>
            <key>Card_Icon_SeasonCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1019},{141,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,191}}</string>
                <key>sourceSize</key>
                <string>{141,191}</string>
            </dict>
            <key>Common_Btn_Ask.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1201},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Cycle_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Cycle_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1164},{640,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,278}}</string>
                <key>sourceSize</key>
                <string>{640,278}</string>
            </dict>
            <key>Cycle_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,293},{301,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,96}}</string>
                <key>sourceSize</key>
                <string>{301,96}</string>
            </dict>
            <key>Cycle_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1368},{181,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,54}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
            <key>Cycle_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1096},{274,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,42}}</string>
                <key>sourceSize</key>
                <string>{274,42}</string>
            </dict>
            <key>Cycle_Bg_Day.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{614,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,213}}</string>
                <key>sourceSize</key>
                <string>{614,213}</string>
            </dict>
            <key>Cycle_Bg_Month.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{614,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,213}}</string>
                <key>sourceSize</key>
                <string>{614,213}</string>
            </dict>
            <key>Cycle_Bg_Week.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{614,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,213}}</string>
                <key>sourceSize</key>
                <string>{614,213}</string>
            </dict>
            <key>Cycle_Btn_WXZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1273},{185,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,69}}</string>
                <key>sourceSize</key>
                <string>{185,69}</string>
            </dict>
            <key>Cycle_Btn_XZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1004},{195,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,78}}</string>
                <key>sourceSize</key>
                <string>{195,78}</string>
            </dict>
            <key>Cycle_Icon_Ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>FirstCharge_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,514},{580,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,330}}</string>
                <key>sourceSize</key>
                <string>{580,330}</string>
            </dict>
            <key>FirstCharge_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,391},{266,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,96}}</string>
                <key>sourceSize</key>
                <string>{266,96}</string>
            </dict>
            <key>FirstCharge_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1004},{151,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,45}}</string>
                <key>sourceSize</key>
                <string>{151,45}</string>
            </dict>
            <key>FirstCharge_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,2},{294,314}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{294,314}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>First_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{750,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,498}}</string>
                <key>sourceSize</key>
                <string>{750,498}</string>
            </dict>
            <key>First_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>First_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1286},{162,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,113}}</string>
                <key>sourceSize</key>
                <string>{162,113}</string>
            </dict>
            <key>First_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1460},{513,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,446}}</string>
                <key>sourceSize</key>
                <string>{513,446}</string>
            </dict>
            <key>First_Icon_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,411},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>Longjing_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,1286},{193,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,386}}</string>
                <key>sourceSize</key>
                <string>{193,386}</string>
            </dict>
            <key>Longjing_Bg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1096},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>Longjing_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,514},{609,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,263}}</string>
                <key>sourceSize</key>
                <string>{609,263}</string>
            </dict>
            <key>Longjing_Bg_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1286},{588,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,64}}</string>
                <key>sourceSize</key>
                <string>{588,64}</string>
            </dict>
            <key>Longjing_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1804},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,110}</string>
            </dict>
            <key>Longjing_Icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1140},{118,134}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{118,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Longjing_Jdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,391},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>Longjing_Jdtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,467},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>Rebate_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,273},{640,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,239}}</string>
                <key>sourceSize</key>
                <string>{640,239}</string>
            </dict>
            <key>Rebate_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,411},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>Rebate_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1916},{626,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,122}}</string>
                <key>sourceSize</key>
                <string>{626,122}</string>
            </dict>
            <key>Recharge_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{640,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,269}}</string>
                <key>sourceSize</key>
                <string>{640,269}</string>
            </dict>
            <key>Recharge_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1286},{586,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,66}}</string>
                <key>sourceSize</key>
                <string>{586,66}</string>
            </dict>
            <key>Recharge_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1004},{598,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,280}}</string>
                <key>sourceSize</key>
                <string>{598,280}</string>
            </dict>
            <key>Task_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,440},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>Task_Bar_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,508},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>组 18 拷贝 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,354},{146,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payment_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8b432ea5fa2bf06be17a8c42b2340e:1/1$</string>
            <key>textureFileName</key>
            <string>payment_ui.png</string>
        </dict>
    </dict>
</plist>
