<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chariot_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{221,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,262}}</string>
                <key>sourceSize</key>
                <string>{221,262}</string>
            </dict>
            <key>Chariot_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1533},{472,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,48}}</string>
                <key>sourceSize</key>
                <string>{472,48}</string>
            </dict>
            <key>Chariot_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,984},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Chariot_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1255},{483,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,21}}</string>
                <key>sourceSize</key>
                <string>{483,21}</string>
            </dict>
            <key>DiTu_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,302},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>DiTu_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,418},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>DuiWu_TX_XZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,563},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>Duiwu_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,376},{572,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,171}}</string>
                <key>sourceSize</key>
                <string>{572,171}</string>
            </dict>
            <key>Dungeon_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,950},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Icon_Stats_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1072},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>Icon_Stats_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1270},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>Icon_Stats_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1018},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>Icon_Stats_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1240},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>Icon_Stats_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1109},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>MStat_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1632},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>MStat_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1533},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>MStat_Frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1026},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>MStat_Frame_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1900},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>MStat_TXT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,418},{131,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,25}}</string>
                <key>sourceSize</key>
                <string>{131,25}</string>
            </dict>
            <key>MStat_TXT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,248},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>MStat_TXT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,275},{65,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>Prepare_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,460}}</string>
                <key>sourceSize</key>
                <string>{750,460}</string>
            </dict>
            <key>Prepare_Bg_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,402},{159,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,14}}</string>
                <key>sourceSize</key>
                <string>{159,14}</string>
            </dict>
            <key>Prepare_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{750,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,108}}</string>
                <key>sourceSize</key>
                <string>{750,108}</string>
            </dict>
            <key>Prepare_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1125},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Prepare_Bg_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,225},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>Prepare_Bg_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,248},{8,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{8,32}</string>
            </dict>
            <key>Prepare_Bg_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,368},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>Prepare_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1049},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>Prepare_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{634,625}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,625}}</string>
                <key>sourceSize</key>
                <string>{634,625}</string>
            </dict>
            <key>Prepare_Bg_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,368},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>Prepare_Bg_Pick.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,460},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>Prepare_Btn_Chariot.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,753},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>Prepare_Btn_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1731},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Prepare_Btn_Monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,655},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>Prepare_Frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1432},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>Prepare_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,225},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>Prepare_Frame_Ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,851},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>Prepare_Frame_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1817},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>Prepare_Frame_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,939},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>Prepare_Frame_Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,721},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>Prepare_Hp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{652,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,39}}</string>
                <key>sourceSize</key>
                <string>{652,39}</string>
            </dict>
            <key>Prepare_Hp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{640,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,28}}</string>
                <key>sourceSize</key>
                <string>{640,28}</string>
            </dict>
            <key>Prepare_Icon_Boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1146},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>Prepare_Level_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1088},{146,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,35}}</string>
                <key>sourceSize</key>
                <string>{146,35}</string>
            </dict>
            <key>Prepare_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1188},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>Prepare_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1330},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1255},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,836},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>Prepare_Quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,618},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>Prepare_Quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1228},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1245},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1143},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1126},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1041},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,939},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1387},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1300},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1300},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,596},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,574},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Void.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,950},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>team_select_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27a939784ad3ddab8e58f1ec6394f74a:1/1$</string>
            <key>textureFileName</key>
            <string>team_select_ui.png</string>
        </dict>
    </dict>
</plist>
