<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lucky_ADS.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>Lucky_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{463,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,463}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>Lucky_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,418}}</string>
                <key>sourceSize</key>
                <string>{750,418}</string>
            </dict>
            <key>Lucky_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{209,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,155}}</string>
                <key>sourceSize</key>
                <string>{209,155}</string>
            </dict>
            <key>Lucky_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,159},{88,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,167}}</string>
                <key>sourceSize</key>
                <string>{88,167}</string>
            </dict>
            <key>Lucky_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Turntable.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47cc056d4702976082311e4779f3b032:1/1$</string>
            <key>textureFileName</key>
            <string>Turntable.png</string>
        </dict>
    </dict>
</plist>
