<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiTu_BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,802},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>DiTu_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,802},{50,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,109}}</string>
                <key>sourceSize</key>
                <string>{50,109}</string>
            </dict>
            <key>Idle_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,643},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Idle_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,443},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Idle_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,443},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Idle_icon_EXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,643},{73,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{73,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Idle_icon_JYZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,912},{63,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{63,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Idle_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,845},{65,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{65,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>SD_Chest_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,2},{212,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,184}}</string>
                <key>sourceSize</key>
                <string>{212,184}</string>
            </dict>
            <key>TY_Btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,802},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,799},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>TY_icon_Zuan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,458},{97,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,79}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>Torch.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,802},{54,67}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,50},{54,67}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>Torch_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,773},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,827},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,773},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,755},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,559},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,386},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,314},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Torch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,643},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>Torch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,559},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>Torch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,766},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>Torch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,748},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>Tower_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,296},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>Tower_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1400}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>Tower_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1403},{640,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,714}}</string>
                <key>sourceSize</key>
                <string>{640,714}</string>
            </dict>
            <key>Tower_Bg_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{640,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,714}}</string>
                <key>sourceSize</key>
                <string>{640,714}</string>
            </dict>
            <key>Tower_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,2},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>Tower_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,443},{640,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,114}}</string>
                <key>sourceSize</key>
                <string>{640,114}</string>
            </dict>
            <key>Tower_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,78},{234,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,71}}</string>
                <key>sourceSize</key>
                <string>{234,71}</string>
            </dict>
            <key>Tower_BtnArrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,802},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>Tower_BtnArrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,802},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>Tower_BtnTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,766},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>Tower_Btn_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,899},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Tower_Chesk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,710},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>Tower_Chesk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>Tower_Cloud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{941,439}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{941,439}}</string>
                <key>sourceSize</key>
                <string>{1001,451}</string>
            </dict>
            <key>Tower_Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,860},{541,404}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{541,404}}</string>
                <key>sourceSize</key>
                <string>{547,408}</string>
            </dict>
            <key>Tower_Door_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,538},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>Tower_Door_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,417},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>Tower_Door_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,559},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Tower_Door_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,296},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>Tower_Flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,802},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>Tower_Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,337},{460,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{460,18}}</string>
                <key>sourceSize</key>
                <string>{462,18}</string>
            </dict>
            <key>Tower_Main_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,559},{513,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,205}}</string>
                <key>sourceSize</key>
                <string>{513,205}</string>
            </dict>
            <key>Tower_Main_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,860},{612,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,205}}</string>
                <key>sourceSize</key>
                <string>{612,205}</string>
            </dict>
            <key>Tower_RewardsBg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,659},{130,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,87}}</string>
                <key>sourceSize</key>
                <string>{130,87}</string>
            </dict>
            <key>Tower_RewardsBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,170},{164,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,124}}</string>
                <key>sourceSize</key>
                <string>{164,124}</string>
            </dict>
            <key>Tower_Shadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,852},{515,205}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,205}}</string>
                <key>sourceSize</key>
                <string>{531,205}</string>
            </dict>
            <key>Tower_Shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,188},{612,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,205}}</string>
                <key>sourceSize</key>
                <string>{612,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da61fe75d027a554a7190993037e9a52:1/1$</string>
            <key>textureFileName</key>
            <string>tower_ui.png</string>
        </dict>
    </dict>
</plist>
