<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cumulative_Bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>Cumulative_Bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,33},{186,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,23}}</string>
                <key>sourceSize</key>
                <string>{186,23}</string>
            </dict>
            <key>Cumulative_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,824}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,824}}</string>
                <key>sourceSize</key>
                <string>{635,824}</string>
            </dict>
            <key>Cumulative_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,550},{606,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,164}}</string>
                <key>sourceSize</key>
                <string>{606,164}</string>
            </dict>
            <key>Cumulative_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,639},{225,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,140}}</string>
                <key>sourceSize</key>
                <string>{225,140}</string>
            </dict>
            <key>Cumulative_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,781},{402,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,67}}</string>
                <key>sourceSize</key>
                <string>{402,67}</string>
            </dict>
            <key>Cumulative_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,58},{490,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,180}}</string>
                <key>sourceSize</key>
                <string>{490,180}</string>
            </dict>
            <key>Cumulative_Bg_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,781},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Cumulative_Got.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,781},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>Cumulative_Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1158},{332,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,345}}</string>
                <key>sourceSize</key>
                <string>{332,345}</string>
            </dict>
            <key>Cumulative_Title_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{567,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,242}}</string>
                <key>sourceSize</key>
                <string>{567,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accumulated_recharge_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14686cbb9388cd35f2e1139c1c7b4e34:1/1$</string>
            <key>textureFileName</key>
            <string>accumulated_recharge_ui.png</string>
        </dict>
    </dict>
</plist>
