<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1684},{212,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,350}}</string>
                <key>sourceSize</key>
                <string>{212,350}</string>
            </dict>
            <key>Card_Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1469},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Hero_Type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2001},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>Hero_Type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2001},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hero_Type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2001},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Maze_Checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,462},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>Prepare_Bg_Pick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2001},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>Prepare_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1345},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1242},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,933},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>Prepare_Quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,432},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>Prepare_Quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1139},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1036},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,663},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,663},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,663},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,663},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>Prepare_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,90},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,68},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,46},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,24},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Prepare_Star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{85,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,20}}</string>
                <key>sourceSize</key>
                <string>{85,20}</string>
            </dict>
            <key>Sprite_Avatar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1117},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,765},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1684},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1469},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1117},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,448},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,765},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,413},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,217},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,350}}</string>
                <key>sourceSize</key>
                <string>{213,350}</string>
            </dict>
            <key>Sprite_Avatar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,600},{125,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,162}</string>
            </dict>
            <key>Sprite_Icon_Rent.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2001},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>Sprite_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,600},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,765},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1852},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1684},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1852},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1684},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,432},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,432},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,280},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,112},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>Sprite_Quality_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,347},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>Sprite_Quality_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,232},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>Sprite_Quality_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,117},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>Sprite_Quality_Star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>Sprite_Quality_Star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2001},{113,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,25}}</string>
                <key>sourceSize</key>
                <string>{113,25}</string>
            </dict>
            <key>Sprite_Up_Quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1762},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>Sprite_Up_Quality_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,144},{236,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,68}}</string>
                <key>sourceSize</key>
                <string>{236,68}</string>
            </dict>
            <key>Sprite_Up_Quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1762},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>Sprite_Up_Quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,73},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{236,69}</string>
            </dict>
            <key>Sprite_Up_Quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,278},{236,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,62}}</string>
                <key>sourceSize</key>
                <string>{236,62}</string>
            </dict>
            <key>Sprite_Up_Quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{236,69}</string>
            </dict>
            <key>Sprite_Up_Quality_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1762},{237,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,62}}</string>
                <key>sourceSize</key>
                <string>{237,62}</string>
            </dict>
            <key>Sprite_Up_Quality_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{237,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,69}}</string>
                <key>sourceSize</key>
                <string>{237,69}</string>
            </dict>
            <key>Sprite_Up_Quality_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,214},{236,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,62}}</string>
                <key>sourceSize</key>
                <string>{236,62}</string>
            </dict>
            <key>Sprite_Up_Quality_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,342},{235,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,69}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_item_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8e5755e770568c7996dc5f9ff881f8:1/1$</string>
            <key>textureFileName</key>
            <string>pet_item_ui.png</string>
        </dict>
    </dict>
</plist>
