<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rank_Bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Rank_Bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,517},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>Rank_Bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,363},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>Rank_Bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,41},{511,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{511,19}}</string>
                <key>sourceSize</key>
                <string>{513,19}</string>
            </dict>
            <key>Rank_Bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,241},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>Rank_Bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,235},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>Rank_Bg_TX.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,456},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>Rank_Frame_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,363},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Rank_Frame_NO1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,554},{449,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,84}}</string>
                <key>sourceSize</key>
                <string>{449,84}</string>
            </dict>
            <key>Rank_Frame_NO2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,554},{449,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,84}}</string>
                <key>sourceSize</key>
                <string>{449,84}</string>
            </dict>
            <key>Rank_Frame_NO3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{449,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,84}}</string>
                <key>sourceSize</key>
                <string>{449,84}</string>
            </dict>
            <key>Rank_Icon_Gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,517},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>Rank_Icon_NO1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,150},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>Rank_Icon_NO2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,150},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>Rank_Icon_NO3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,301},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>Rank_Title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,111}}</string>
                <key>sourceSize</key>
                <string>{484,111}</string>
            </dict>
            <key>TY_Btn_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,358},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,308},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>TY_Btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,375},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TY_GDT_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>TY_GDT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>TY_TCBG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,307},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>TY_TCBG_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,408},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>TY_TCBG_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,115},{33,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,191}}</string>
                <key>sourceSize</key>
                <string>{33,191}</string>
            </dict>
            <key>TY_TCBG_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,115},{33,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,191}}</string>
                <key>sourceSize</key>
                <string>{33,191}</string>
            </dict>
            <key>TY_TCBG_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,500},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>TY_TCBG_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,456},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f39a7313cefcfce05df9c97686598ac0:1/1$</string>
            <key>textureFileName</key>
            <string>rank_ui.png</string>
        </dict>
    </dict>
</plist>
