<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_Spirit21_SupportSkill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1618},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1618},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1618},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1718},{198,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1718},{198,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1218},{198,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1218},{198,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1022},{192,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{192,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1022},{192,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{192,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1056},{184,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{184,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1788},{188,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{188,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1472},{182,178}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,824},{182,178}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1008},{180,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1242},{180,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1098},{184,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{184,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,910},{184,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{184,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,688},{180,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{180,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,642},{180,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{180,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1598},{188,186}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{188,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1408},{188,186}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{188,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1216},{190,184}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1216},{190,184}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1818},{194,180}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{194,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FX_Spirit21_SupportSkill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1818},{194,180}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{194,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,544},{86,64}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,69},{86,64}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{178,102}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,55},{178,102}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,380},{240,162}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{240,162}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,474},{238,166}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{238,166}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{232,148}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{232,148}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,152},{220,158}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{220,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,312},{212,160}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{212,160}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{216,148}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,36},{216,148}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,438},{202,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{202,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,544},{70,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,76},{70,50}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1744},{146,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{146,62}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,204},{160,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{160,102}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1918},{184,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{184,118}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1918},{142,124}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{142,124}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,544},{194,142}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,24},{194,142}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1822},{214,158}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{214,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,204},{258,174}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{258,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1546},{272,186}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{272,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,938},{278,186}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{278,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1236},{280,190}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{280,190}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1744},{286,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{286,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1244},{296,198}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1542},{290,200}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{290,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,642},{296,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,944},{298,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,944},{300,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,196}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,406},{290,200}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{290,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,642},{294,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,940},{294,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{294,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1246},{298,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{298,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,642},{300,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,204},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,438},{298,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1820},{294,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1236},{284,192}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{284,192}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1546},{266,180}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{266,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1618},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1418},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,406},{198,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,406},{198,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,642},{198,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,642},{198,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1518},{198,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1022},{192,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{192,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,842},{192,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{192,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1286},{184,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{184,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,870},{184,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{184,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1368},{178,176}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{178,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1190},{178,176}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{178,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1828},{168,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1656},{168,170}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{168,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,748},{160,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{160,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,586},{160,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{160,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1696},{150,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{150,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1546},{150,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{150,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,406},{128,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{128,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,308},{128,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{128,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,664},{116,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,544},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{118,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1924},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,47},{114,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Spirit21_SupportSkill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1808},{114,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,47},{114,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet21_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8adca02d49d99d38f8615d84de3fa3a5:1/1$</string>
            <key>textureFileName</key>
            <string>pet21_2.png</string>
        </dict>
    </dict>
</plist>
